
// Core
// --------------------------------------------------
@import '_core/_normalize'
@import '_core/_variables'
@import '_core/_colors'

// Components
// --------------------------------------------------

@require 'components/*'

// topbar sticky
.topbar
    position: sticky
    top: 0
    display: flex
    justify-content: flex-end
    background rgb(12,15,44)
    background: linear-gradient(0deg, #0e133c 100%, #0c0f2c 0%);
    z-index 25