<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'components/favicons.njk' %}
        <link rel="stylesheet" href="/main.css">
    </head>
    <body class="{{ bodyClass }}">
        {% include 'components/topbar.njk' %}
        <section class="hero">
            <section class="hero__slogan">
                <div class="hero__text">
                    <ul class="teaser">
                        <li class="teaser__item{% if teaser.icon %} teaser__item--hasicon{% endif %}">
                            <div class="teaser__wrapper">
                                <div class="teaser__content">
                                    <h1 class="teaser__title">{{ claim | safe }}</h3>
                                    <div class="teaser__contenttext">
                                        {{ subclaim }}
                                    </div>
                                </div>
                                <div class="teaser__icon">
                                    <img src="/assets/Zahnrad.svg" alt="Illustration API">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <ul class="teaser">
        {% for teaser in collections.teaser -%}
        <li class="teaser__item{% if teaser.icon %} teaser__item--hasicon{% endif %}">
            <div class="teaser__wrapper">
                <div class="teaser__content">
                    <h3 class="teaser__title">{{ teaser.data.title }}</h3>
                    <div class="teaser__contenttext">
                        {{ teaser.templateContent | safe }}
                    </div>
                    <a class="cta cta--teaser" href="/api/{{ teaser.data.destination }}">Discover {{ teaser.data.title }} API</a>
                </div>
                {% if teaser.data.icon %}
                    <div class="teaser__icon">
                        <img src="/assets/{{ teaser.data.icon }}.svg" alt="Logo {{ teaser.data.title }}">
                    </div>
                {% endif %}
            </div>
        </li>
        {% endfor -%}
    </ul>
    </body>
</html>