<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" type="text/css" href="../../../../swagger/swagger-ui.css?v=2" >
    </head>
    <body class="api">
        {% include 'components/topbar.njk' %}
        <section class="hero hero--auth">
            <header class="hero__header">
                <h1 class="hero__headline">{{ title }}</h1> 
                <div class="topbar description">
                    Using OAuth 2.0 to Access BrandMaker APIs
                </div>
                <div class="topbar-stick-top"></div>
            </header>
            <div class="mainlayout">
                <div class="navigation-wrapper">
                    <div class="navigation-section">
                        <div class="header"><h2 class="navigation-headline">Basic steps</h2></div>
                        <div class="body">
                            <div class="navigation-link tag outer">
                                <div class="navigation-link tag header">
                                    <span class="navigation-linktag">Before you start</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="section">
                        <h1 class="title">Basic steps</h1>
                        <div class="subsection">
                            <h2 class="subtitle">Before you start</h2>
                            Install the following things:
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>