<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% set navPages = collections.all | eleventyNavigation("API") %}
  {% set lastUsedProductVersion = "getLastUsedProductVersion()" %}
  {% set found = "false" %}
    {%- for moduleE in navPages %}
      {%- if moduleE.key == module %}
        {%- for pVersion in moduleE.children %}
          {%- if (pVersion.key == lastUsedProductVersion) %}
            {% set found = "true" %}
            <script>
              window.location.href = window.location.href + "{{ lastUsedProductVersion }}";
            </script>
          {% endif -%}
        {% endfor-%}
      {%- endif %}
    {%- endfor -%}
    {% if (found == "false") %}
      <script>
        window.location.href = window.location.href + "{{ destination }}";
      </script>
    {% endif %}

    <script>
      function getLastUsedProductVersion() {
        if (typeof(Storage) !== "undefined") {
          if (localStorage.getItem("{{ module }}_used_productVersion")) { 
            return localStorage.getItem("{{ module }}_used_productVersion");  
          }
        }
        return ("{{ destination }}");
      }
    
  </script>
</head>
<body>
  
</body>

</html>