<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'components/favicons.njk' %}
  <script>
    // Check browser support
    var lastUsedApiVersion = "6.4.1.0";//{{ destination }}";
    if ((typeof(Storage) !== "undefined") && (localStorage.getItem("{{ module }}_{{ productVersion }}_used_apiVersion"))) {
      lastUsedApiVersion =  localStorage.getItem("{{ module }}_{{ productVersion }}_used_apiVersion");  
    }
    
    var request = new XMLHttpRequest();
    request.open("GET","./apiVersions.json", false);
    request.send(null);
    var jsonData = JSON.parse(request.responseText);
    lastUsedApiVersion = jsonData.apiVersions.includes(lastUsedApiVersion) ? lastUsedApiVersion : "{{ destination }}"
    window.location.href = window.location.href + lastUsedApiVersion;
  </script>
</head>
<body>
  
</body>

</html>