<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" type="text/css" href="../../../../swagger/swagger-ui.css?v=2" >
    </head>
    <body class="api">
        {% include 'components/topbar.njk' %}
        <section class="hero hero--api">
            <header class="hero__header">
                <section class="hero__slogan hero__slogan--api">
                    <div class="hero__text">
                        <h1 class="hero__headline">{{ module }}</h1>
                    </div>
                </section>
                {% set navPages = collections.all | eleventyNavigation("API") %}
                <div class="nav_modules">
                    <!--- eleventy navigation -->
                    {%- for moduleE in navPages %}
                    {%- if moduleE.title == module %}
                    <label for="navselect">Selected Version:</label> 
                        <select onchange="javascipt:handleSelect(this)" id="navselect">
                            {%- for pVersion in moduleE.children %}
                            <optgroup label="{{ pVersion.title }}">
                                {%- for apiV in pVersion.children %}
                                {%- if apiV.title == apiVersion %}
                                <option value="../../../{{ module }}/{{ pVersion.title }}/{{ apiV.title }}" selected>
                                    {{ apiV.title }}
                                </option>
                                {% else %}
                                <option value="../../../{{ module }}/{{ pVersion.title }}/{{ apiV.title }}">
                                    {{ apiV.title }}
                                </option>
                                {% endif %}
                                {% endfor-%}
                            </optgroup>
                            {% endfor-%}
                        </select>
                    {%- endif %}
                    {%- endfor -%}
                </div>
            </header>
            <script type="text/javascript">
                function handleSelect(elm) {
                    window.location = elm.value;
                }
            </script>
            <div id="swagger-ui"></div>
            <script src="../../../../swagger/swagger-ui-bundle.js"> </script>
            <script src="../../../../swagger/swagger-ui-standalone-preset.js"> </script>
            <script>
                window.onload = function() {
                    // Begin Swagger UI call region
                    const ui = SwaggerUIBundle({
                        url: "{{ swaggerFile }}",
                        dom_id: '#swagger-ui',
                        //docExpansion: "full",
                        deepLinking: false,
                        presets: [
                            SwaggerUIBundle.presets.apis,
                            SwaggerUIStandalonePreset
                        ],
                        plugins: [
                            SwaggerUIBundle.plugins.DownloadUrl
                        ],
                        layout: "StandaloneLayout",
                        highlightSizeThreshold: 1,
                    })
                    // End Swagger UI call region
                    window.ui = ui
                }
            </script>
        </section>
        <script>
           // Check browser support
            if (typeof(Storage) !== "undefined") {
              // Store
              localStorage.setItem("{{ module }}_used_productVersion", "{{ productVersion }}");
              localStorage.setItem("{{ module }}_{{ productVersion }}_used_apiVersion", "{{ apiVersion }}");
            } else {
              console.log("Your browser does not support Web Storage");
            } 
        </script>
    </body>
</html>