.mainnav 
    &__list
        list-style none
        align-items center
        height 100px
        margin 0
        padding 0
        &__main
            display flex
            list-style none
            align-items center
            height 75px
            margin 0
            padding 0
        &item 
            margin 0
            position relative
            display block
            height 100%
            display flex
            align-items center
            &:hover
                background rgba(255,255,255,.1)
            &link 
                padding 0 3.5rem
                color white
                font-size 1.125rem
                text-decoration none
                display block
                &:before
                    display: block;
                    content: attr(title);
                    font-weight: bold
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
        
            // Sub
            ul
                visibility hidden
                padding 0
                position absolute
                right: 0
                top: 75px
                width 250%
                text-align left
                opacity 0
                transition opacity 0.3s ease-out
                background white
                box-shadow 0 0 30px rgba(0,0,0,.5)
                height auto
                .mainnav__listitem
                    display block
                    background white
                    height: auto
                    position: relative
                    &link
                        color $grey500
                        padding 18px 2.5rem 25px
                        line-height 1
                        display block
                        font-weight 400
                        transition all .3s ease-out
                        border-left 0px solid transparent
                        &:hover
                            border-left 5px solid $orange

                        .title
                            text-align: right
                            font-weight 700
                            font-size: 1.5rem
                        .info
                            font-weight: 400;
                            color: #93989b;
                            font-size: 1rem;
                            line-height: 1.4;
                            display: inline-block;
                            margin-top: 3px;
            &:hover
                z-index 15
                > .mainnav__listitemlink
                    color $orange
                    z-index 10
                    position: relative
                ul
                    visibility visible
                    opacity 1