.mainnav 
    &__list
        list-style none
        align-items center
        height 75px
        margin 0
        padding 0
        &__main
            display flex
            list-style none
            align-items center
            height 75px
            margin 0
            padding 0
        &item 
            margin 0
            position relative
            display block
            height 100%
            display flex
            align-items center
            &:hover
                background rgba(255,255,255,.1)
            &link 
                padding 0 3.5rem
                color white
                font-size 1.125rem
                text-decoration none
                display block
                &:before
                    display: block;
                    content: attr(title);
                    font-weight: bold
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
        
            // Sub
            ul
                visibility hidden
                padding 0
                position absolute
                right: 0
                top: 75px
                width 250%
                text-align left
                opacity 0
                transition opacity 0.3s ease-out
                background white
                box-shadow 0 0 30px rgba(0,0,0,.5)
                height auto
                .mainnav__listitem
                    display block
                    background white
                    height: auto
                    position: relative
                    &link
                        color $grey500
                        padding 1rem 2rem 1rem
                        line-height 1
                        display block
                        font-weight 400
                        transition all .3s ease-out
                        border-left 0px solid transparent
                        &:hover
                            border-left 5px solid $orange
                            color $grey900
                        &title
                            font-weight 700
                            font-size: 1.125rem

                            &--sub
                                font-weight: 400;
                                color: rgb(147, 152, 155);
                                font-size: .875rem;
                                line-height: 1.4;
                                display: inline-block;
                                margin-top: 3px;
                                display block
            &:hover
                z-index 15
                > .mainnav__listitemlink
                    color $orange
                    z-index 10
                    position: relative
                ul
                    visibility visible
                    opacity 1
