{
  "swagger": "2.0",
  "info" : {
    "description" : "relative path : maps/rest",
    "version" : "7.0-SNAPSHOT",
    "title" : "MaPS rest api 3.7 API specification"
  },
  "host" : "is-dev2.brandmaker.com",
  "basePath" : "/maps/rest",
  "schemes" : ["https"],
  "tags" : [
    {
      "name" : "\/api/{version}/approver"
    }
    ,
    {
      "name" : "\/api/{version}/approver/{userId}"
    }
    ,
    {
      "name" : "\/api/{version}/attachment/bill/node/{nodeId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/attachment/content/{attachmentId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/attachment/download/{attachmentId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/attachment/externalIds"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/attachment/node/{nodeId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/attachment/sunk-cost/node/{nodeId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/attachment/unlink/{attachmentId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/attachment/{attachmentId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/basic-search"
    }
    ,
    {
      "name" : "\/api/{version}/budget-set/public/all"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/budget/node/{nodeId}/tree/{treeId}"
      ,
      "description" : "Return budget values of months, year, quarter, for planned,committed,actual,projected,remaining,mdf."
    }
    ,
    {
      "name" : "\/api/{version}/budget/planned/month/node/{nodeId}/tree/{treeId}"
      ,
      "description" : "Edit PLANNED month budget of node for given year."
    }
    ,
    {
      "name" : "\/api/{version}/budget/planned/year/node/{nodeId}/tree/{treeId}"
      ,
      "description" : "Edit PLANNED year budget of node for given year."
    }
    ,
    {
      "name" : "\/api/{version}/budgetSet/public/all"
      ,
      "description" : "Returns all public budget sets."
    }
    ,
    {
      "name" : "\/api/{version}/category"
    }
    ,
    {
      "name" : "\/api/{version}/category/all"
    }
    ,
    {
      "name" : "\/api/{version}/category/{categoryId}"
    }
    ,
    {
      "name" : "\/api/{version}/comment/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/comment/{id}"
    }
    ,
    {
      "name" : "\/api/{version}/content/node/{nodeId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/content/period/{periodId}"
      ,
      "description" : "Create/Update content."
    }
    ,
    {
      "name" : "\/api/{version}/content/slideshow"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/content/slideshow/url"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/content/{periodId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/currency"
    }
    ,
    {
      "name" : "\/api/{version}/dimension"
    }
    ,
    {
      "name" : "\/api/{version}/dimension/node/{nodeId}"
      ,
      "description" : "Return all dimension values for given node."
    }
    ,
    {
      "name" : "\/api/{version}/dimension/{dimId}/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/dimension/{id}"
    }
    ,
    {
      "name" : "\/api/{version}/dimension/{id}/possible-values"
      ,
      "description" : "Get dimension possible values for given dimension."
    }
    ,
    {
      "name" : "\/api/{version}/exchange-rate/tree/{treeId}/currency/{currencyId}"
    }
    ,
    {
      "name" : "\/api/{version}/fee"
    }
    ,
    {
      "name" : "\/api/{version}/fee-rate/tree/{treeId}"
      ,
      "description" : "Create rates for given year(tree) and fee."
    }
    ,
    {
      "name" : "\/api/{version}/fee-rate/tree/{treeId}/fee/{feeId}"
      ,
      "description" : "Delete fee rate."
    }
    ,
    {
      "name" : "\/api/{version}/fee-rate/tree/{treeId}/month/{month}"
      ,
      "description" : "Get rates for given year and month."
    }
    ,
    {
      "name" : "\/api/{version}/fee-rate/{rateId}"
    }
    ,
    {
      "name" : "\/api/{version}/fee/node/{nodeId}"
      ,
      "description" : "Get assigned fees to the node."
    }
    ,
    {
      "name" : "\/api/{version}/fee/type"
    }
    ,
    {
      "name" : "\/api/{version}/fee/{feeId}"
    }
    ,
    {
      "name" : "\/api/{version}/fee/{feeId}/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/fee/{feeId}/node/{nodeId}/tree/{treeId}"
      ,
      "description" : "Get fee rates for given fee, node and tree(year)."
    }
    ,
    {
      "name" : "\/api/{version}/group"
    }
    ,
    {
      "name" : "\/api/{version}/group/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/group/{id}"
    }
    ,
    {
      "name" : "\/api/{version}/invoice/link/{invoiceId}"
      ,
      "description" : "Link invoice to sunk cost."
    }
    ,
    {
      "name" : "\/api/{version}/invoice/linkAttachment/{invoiceId}"
    }
    ,
    {
      "name" : "\/api/{version}/invoice/linked/sunk-cost/{sunkCostId}"
      ,
      "description" : "Returns invoices linked to given sunk cost and tree."
    }
    ,
    {
      "name" : "\/api/{version}/invoice/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/invoice/unlink/{invoiceId}"
      ,
      "description" : "Unlink invoice from sunk cost."
    }
    ,
    {
      "name" : "\/api/{version}/invoice/{id}"
    }
    ,
    {
      "name" : "\/api/{version}/kpi-definition"
    }
    ,
    {
      "name" : "\/api/{version}/kpi-definition/system"
      ,
      "description" : "return names of system kpis that can be used : 'sumBills', 'sumBudgets', 'sumEstimates', 'sumProjected', 'sumRemaining', 'sumMDF', 'sumTarget'."
    }
    ,
    {
      "name" : "\/api/{version}/kpi-definition/{kpiDefinitionId}"
    }
    ,
    {
      "name" : "\/api/{version}/kpi/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/kpi/node/{nodeId}/kpi-definition/{kpiDefinitionId}"
    }
    ,
    {
      "name" : "\/api/{version}/kpi/{kpiId}"
    }
    ,
    {
      "name" : "\/api/{version}/managed-task"
      ,
      "description" : "*Create managed task."
    }
    ,
    {
      "name" : "\/api/{version}/managed-task/job/{jobId}"
      ,
      "description" : "Returns managed task by given jobId(job manager's job id)."
    }
    ,
    {
      "name" : "\/api/{version}/managed-task/{taskId}"
      ,
      "description" : "Edit managed task's responsible person, marker type and description."
    }
    ,
    {
      "name" : "\/api/{version}/marker"
      ,
      "description" : "."
    }
    ,
    {
      "name" : "\/api/{version}/marker-categories"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/marker-categories/{categoryId}"
      ,
      "description" : "Delete marker category."
    }
    ,
    {
      "name" : "\/api/{version}/marker/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/markers"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/markers/download/{markerId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/mdf"
      ,
      "description" : "Returns MDFs that are assigned to approver(if the user is approver)."
    }
    ,
    {
      "name" : "\/api/{version}/mdf/approve/{mdfId}"
      ,
      "description" : "approve requested mdf or update already approved mdf."
    }
    ,
    {
      "name" : "\/api/{version}/mdf/grant/node/{nodeId}"
      ,
      "description" : "create approved (grant) mdf."
    }
    ,
    {
      "name" : "\/api/{version}/mdf/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/mdf/reject/{mdfId}"
    }
    ,
    {
      "name" : "\/api/{version}/mdf/request/node/{nodeId}"
      ,
      "description" : "request new mdf with status 'PENDING'."
    }
    ,
    {
      "name" : "\/api/{version}/mdf/request/{mdfId}"
      ,
      "description" : "request again rejected mdf."
    }
    ,
    {
      "name" : "\/api/{version}/mdf/requested"
      ,
      "description" : "Returns MDFs that are requested by the user."
    }
    ,
    {
      "name" : "\/api/{version}/mdf/{id}"
    }
    ,
    {
      "name" : "\/api/{version}/mdf/{mdfId}/comment"
    }
    ,
    {
      "name" : "\/api/{version}/module/all"
      ,
      "description" : "Returns module codes which are defined in Maps as Subnavigation entries - Calendar view, Budget view and so on."
    }
    ,
    {
      "name" : "\/api/{version}/module/generate-link"
      ,
      "description" : "Generates link per module(optional) and view(optional)."
    }
    ,
    {
      "name" : "\/api/{version}/node-type"
      ,
      "description" : "Return active node types to use in node creation/edit."
    }
    ,
    {
      "name" : "\/api/{version}/node-type/icons"
      ,
      "description" : "Return all available icons for node types."
    }
    ,
    {
      "name" : "\/api/{version}/node-type/icons/download/{typeId}"
    }
    ,
    {
      "name" : "\/api/{version}/node/child/{nodeId}/from-tree/{fromTreeId}/to-tree/{toTreeId}"
      ,
      "description" : "Returns children for given node between start date from."
    }
    ,
    {
      "name" : "\/api/{version}/node/externalId/{externalId}"
    }
    ,
    {
      "name" : "\/api/{version}/node/managed-task/{managedTaskJobId}"
      ,
      "description" : "Return Node information."
    }
    ,
    {
      "name" : "\/api/{version}/node/root/{treeId}"
    }
    ,
    {
      "name" : "\/api/{version}/node/user-assigned"
      ,
      "description" : "Returns nodes of the user where the user is assigned like responsible user of the node."
    }
    ,
    {
      "name" : "\/api/{version}/node/{id}"
    }
    ,
    {
      "name" : "\/api/{version}/node/{nodeId}"
      ,
      "description" : "If the dates extend parent node, it will be resized automatically."
    }
    ,
    {
      "name" : "\/api/{version}/node/{nodeId}/copy/{parentId}"
      ,
      "description" : "Copy node to parent."
    }
    ,
    {
      "name" : "\/api/{version}/node/{nodeId}/deeplink"
      ,
      "description" : "Return deeplink for calendar and budget views."
    }
    ,
    {
      "name" : "\/api/{version}/node/{nodeId}/move/{parentId}"
      ,
      "description" : "Move node to parent."
    }
    ,
    {
      "name" : "\/api/{version}/node/{parentId}"
      ,
      "description" : "Create node or child node."
    }
    ,
    {
      "name" : "\/api/{version}/period/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/period/node/{nodeId}/tree/{treeId}"
      ,
      "description" : "Returns period data of node for given tree(year)."
    }
    ,
    {
      "name" : "\/api/{version}/period/{id}"
    }
    ,
    {
      "name" : "\/api/{version}/permissions/global/current-user"
    }
    ,
    {
      "name" : "\/api/{version}/permissions/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/permissions/rights/current-user"
    }
    ,
    {
      "name" : "\/api/{version}/sunk-cost/link/{sunkCostId}"
      ,
      "description" : "Link invoices to sunk cost."
    }
    ,
    {
      "name" : "\/api/{version}/sunk-cost/linkAttachment/{sunkCostId}"
    }
    ,
    {
      "name" : "\/api/{version}/sunk-cost/linked/invoice/{invoiceId}"
    }
    ,
    {
      "name" : "\/api/{version}/sunk-cost/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/sunk-cost/unlink/{sunkCostId}"
      ,
      "description" : "Unlink invoices from sunk cost."
    }
    ,
    {
      "name" : "\/api/{version}/sunk-cost/{id}"
    }
    ,
    {
      "name" : "\/api/{version}/target-budget/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/target-budget/{id}"
    }
    ,
    {
      "name" : "\/api/{version}/task/changes"
    }
    ,
    {
      "name" : "\/api/{version}/task/node/{nodeId}"
    }
    ,
    {
      "name" : "\/api/{version}/task/node/{nodeId}/status/{status}/date/{date}"
      ,
      "description" : "Returns tasks and managed tasks of node by date and status, paginated."
    }
    ,
    {
      "name" : "\/api/{version}/task/user-assigned"
      ,
      "description" : "Returns the tasks of the user where the user is assigned like responsible user."
    }
    ,
    {
      "name" : "\/api/{version}/task/{taskId}"
    }
    ,
    {
      "name" : "\/api/{version}/tree"
    }
    ,
    {
      "name" : "\/api/{version}/user/access/node/{nodeId}"
      ,
      "description" : "get users that have READ access to given nodeId."
    }
    ,
    {
      "name" : "\/api/{version}/user/access/task/{taskId}"
      ,
      "description" : "get users that have READ access to given taskId."
    }
    ,
    {
      "name" : "\/api/{version}/user/has-data/{userId}"
      ,
      "description" : "check if given user has any data in application."
    }
    ,
    {
      "name" : "\/api/{version}/user/has-module-access"
      ,
      "description" : "Return if the user has access to Maps module, {'access':true/false}."
    }
    ,
    {
      "name" : "\/api/{version}/user/write/attachments"
    }
    ,
    {
      "name" : "\/api/{version}/usergroups/all"
      ,
      "description" : "Returns All users with assigned user groups,."
    }
    ,
    {
      "name" : "\/api/{version}/usergroups/user/{userId}"
    }
    ,
    {
      "name" : "\/api/{version}/view/public/all"
      ,
      "description" : "Returns all public views."
    }
    ,
    {
      "name" : "\/api/{version}/watcher/node/{nodeId}"
      ,
      "description" : "Returns all watchers on an element."
    }
    ,
    {
      "name" : "\/api/{version}/watcher/node/{nodeId}/user/{userId}"
      ,
      "description" : "Created by alexander."
    }
    ,
    {
      "name" : "\/api/{version}/watcher/user-assigned"
      ,
      "description" : "Returns all elements that a user watches."
    }
  ],
  "definitions" : {
    "json_AnalysisType" : {
      "type" : "string",
      "title" : "AnalysisType",
          "enum" : [
            "lessIsBetter",
            "moreIsBetter",
            "none"
          ],
      "description" : ""
    }
    ,
    "json_AncestorsDTO" : {
      "type" : "object",
      "title" : "AncestorsDTO",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "name" : "..."
},
      "description" : "Created by alexander.yordanov on 2019-09-17."
    }
    ,
    "json_AnnexContentViewBase" : {
      "type" : "object",
      "title" : "AnnexContentViewBase",
      "required" : ["published"],
          "properties" : {
            "text" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "published" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "contentId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "text" : "...",
  "published" : true,
  "contentId" : 12345
},
      "description" : ""
    }
    ,
    "json_AnnexPeriodViewBase" : {
      "type" : "object",
      "title" : "AnnexPeriodViewBase",
          "properties" : {
            "categoryId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "categoryId" : 12345,
  "endDate" : "...",
  "startDate" : "...",
  "name" : "...",
  "id" : 12345
},
      "description" : ""
    }
    ,
    "json_AttachmentDTO" : {
      "type" : "object",
      "title" : "AttachmentDTO",
          "properties" : {
            "annexAttachmentId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "urlId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "attachmentDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "fileSize" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "comment" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "externalId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "attachmentFileName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "source" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "attachmentLink" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "annexAttachmentId" : 12345,
  "urlId" : "...",
  "attachmentDate" : "...",
  "fileSize" : 12345,
  "comment" : "...",
  "externalId" : 12345,
  "attachmentFileName" : "...",
  "source" : "...",
  "attachmentLink" : "..."
},
      "description" : "Created by alexander.yordanov on 2017-10-20."
    }
    ,
    "json_BMCurrencyView" : {
      "type" : "object",
      "title" : "BMCurrencyView",
          "properties" : {
            "symbol" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "shortName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "symbol" : "...",
  "id" : 12345,
  "shortName" : "..."
},
      "description" : ""
    }
    ,
    "json_BMonthDTO" : {
      "type" : "object",
      "title" : "BMonthDTO",
          "properties" : {
            "planned" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "commited" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "actual" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "projected" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "remainig" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "mdf" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "calculated" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "target" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            }
          },
      "example" : {
  "planned" : [ 12345.0, 12345.0 ],
  "commited" : [ 12345.0, 12345.0 ],
  "actual" : [ 12345.0, 12345.0 ],
  "projected" : [ 12345.0, 12345.0 ],
  "remainig" : [ 12345.0, 12345.0 ],
  "mdf" : [ 12345.0, 12345.0 ],
  "calculated" : [ 12345.0, 12345.0 ],
  "target" : [ 12345.0, 12345.0 ]
},
      "description" : ""
    }
    ,
    "json_BQuarterDTO" : {
      "type" : "object",
      "title" : "BQuarterDTO",
          "properties" : {
            "planned" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "commited" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "actual" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "projected" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "remainig" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "mdf" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "calculated" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "target" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            }
          },
      "example" : {
  "planned" : [ 12345.0, 12345.0 ],
  "commited" : [ 12345.0, 12345.0 ],
  "actual" : [ 12345.0, 12345.0 ],
  "projected" : [ 12345.0, 12345.0 ],
  "remainig" : [ 12345.0, 12345.0 ],
  "mdf" : [ 12345.0, 12345.0 ],
  "calculated" : [ 12345.0, 12345.0 ],
  "target" : [ 12345.0, 12345.0 ]
},
      "description" : "Quarter budget"
    }
    ,
    "json_BYearDTO" : {
      "type" : "object",
      "title" : "BYearDTO",
          "properties" : {
            "planned" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "commited" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "actual" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "projected" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "remainig" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "mdf" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "target" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "calculated" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "planned" : 12345.0,
  "commited" : 12345.0,
  "actual" : 12345.0,
  "projected" : 12345.0,
  "remainig" : 12345.0,
  "mdf" : 12345.0,
  "target" : 12345.0,
  "calculated" : 12345.0
},
      "description" : ""
    }
    ,
    "json_BillDTO" : {
      "type" : "object",
      "title" : "BillDTO",
          "properties" : {
            "costCenter" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "amount" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "referenceNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "supplier" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "number" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "costType" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "jobNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "responsiblePerson" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "paid" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "note" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "bookingDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            }
          },
      "example" : {
  "costCenter" : "...",
  "amount" : 12345.0,
  "referenceNumber" : "...",
  "date" : "...",
  "supplier" : "...",
  "number" : "...",
  "name" : "...",
  "id" : 12345,
  "costType" : "...",
  "jobNumber" : "...",
  "responsiblePerson" : "...",
  "paid" : true,
  "note" : "...",
  "bookingDate" : "..."
},
      "description" : "Created by alexander.yordanov on 2017-10-10."
    }
    ,
    "json_BudgetColumnDTO" : {
      "type" : "object",
      "title" : "BudgetColumnDTO",
          "properties" : {
            "order" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "negativeFont" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "columnType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_ColumnType"
            },
            "activeColumns" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ColumnOrder"
}
            },
            "formulaReadable" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dimensionId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "negativeBackground" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "positiveFont" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "positiveBackground" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "formula" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "width" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "order" : 12345,
  "negativeFont" : "...",
  "columnType" : "YEAR_BUDGET",
  "activeColumns" : [ "REMAINING", "PROJECTED" ],
  "formulaReadable" : "...",
  "dimensionId" : 12345,
  "negativeBackground" : "...",
  "positiveFont" : "...",
  "id" : 12345,
  "positiveBackground" : "...",
  "formula" : "...",
  "width" : 12345
},
      "description" : "Created by alexander.yordanov on 2020-05-18."
    }
    ,
    "json_BudgetColumnViewBase" : {
      "type" : "object",
      "title" : "BudgetColumnViewBase",
          "properties" : {
            "formula" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "negativeBackground" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "order" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "positiveBackground" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "negativeFont" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "columnType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_ColumnType"
            },
            "dimensionId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "width" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "activeColumns" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ColumnOrder"
}
            },
            "positiveFont" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "formula" : "...",
  "negativeBackground" : "...",
  "order" : 12345,
  "positiveBackground" : "...",
  "id" : 12345,
  "negativeFont" : "...",
  "columnType" : "NODE_NOTES",
  "dimensionId" : 12345,
  "width" : 12345,
  "activeColumns" : [ "ACTUAL", "TARGET_BUDGET" ],
  "positiveFont" : "..."
},
      "description" : ""
    }
    ,
    "json_BudgetColumnsDTO" : {
      "type" : "object",
      "title" : "BudgetColumnsDTO",
          "properties" : {
            "month" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_BMonthDTO"
            },
            "quarter" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_BQuarterDTO"
            },
            "year" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_BYearDTO"
            }
          },
      "example" : {
  "month" : {
    "planned" : [ 12345.0, 12345.0 ],
    "commited" : [ 12345.0, 12345.0 ],
    "actual" : [ 12345.0, 12345.0 ],
    "projected" : [ 12345.0, 12345.0 ],
    "remainig" : [ 12345.0, 12345.0 ],
    "mdf" : [ 12345.0, 12345.0 ],
    "calculated" : [ 12345.0, 12345.0 ],
    "target" : [ 12345.0, 12345.0 ]
  },
  "quarter" : {
    "planned" : [ 12345.0, 12345.0 ],
    "commited" : [ 12345.0, 12345.0 ],
    "actual" : [ 12345.0, 12345.0 ],
    "projected" : [ 12345.0, 12345.0 ],
    "remainig" : [ 12345.0, 12345.0 ],
    "mdf" : [ 12345.0, 12345.0 ],
    "calculated" : [ 12345.0, 12345.0 ],
    "target" : [ 12345.0, 12345.0 ]
  },
  "year" : {
    "planned" : 12345.0,
    "commited" : 12345.0,
    "actual" : 12345.0,
    "projected" : 12345.0,
    "remainig" : 12345.0,
    "mdf" : 12345.0,
    "target" : 12345.0,
    "calculated" : 12345.0
  }
},
      "description" : ""
    }
    ,
    "json_BudgetScale" : {
      "type" : "string",
      "title" : "BudgetScale",
          "enum" : [
            "NORMAL",
            "THOUSANDS",
            "MILLIONS",
            "BILLIONS"
          ],
      "description" : ""
    }
    ,
    "json_BudgetSetDTO" : {
      "type" : "object",
      "title" : "BudgetSetDTO",
          "properties" : {
            "yearSwitch" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "budgetColumns" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BudgetColumnDTO"
}
            },
            "rounding" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "setId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "configurationInfo" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "currencyView" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_CurrencyView"
            },
            "budgetScale" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_BudgetScale"
            }
          },
      "example" : {
  "yearSwitch" : true,
  "budgetColumns" : [ {
    "order" : 12345,
    "negativeFont" : "...",
    "columnType" : "RESPONSIBLE_PERSON",
    "activeColumns" : [ "ACTUAL", "REMAINING" ],
    "formulaReadable" : "...",
    "dimensionId" : 12345,
    "negativeBackground" : "...",
    "positiveFont" : "...",
    "id" : 12345,
    "positiveBackground" : "...",
    "formula" : "...",
    "width" : 12345
  }, {
    "order" : 12345,
    "negativeFont" : "...",
    "columnType" : "DIMENSION",
    "activeColumns" : [ "TARGET_BUDGET", "TARGET_BUDGET" ],
    "formulaReadable" : "...",
    "dimensionId" : 12345,
    "negativeBackground" : "...",
    "positiveFont" : "...",
    "id" : 12345,
    "positiveBackground" : "...",
    "formula" : "...",
    "width" : 12345
  } ],
  "rounding" : true,
  "name" : "...",
  "setId" : 12345,
  "configurationInfo" : true,
  "currencyView" : "WORKING",
  "budgetScale" : "MILLIONS"
},
      "description" : "Created by alexander.yordanov on 2020-05-18."
    }
    ,
    "json_BudgetSetViewBase" : {
      "type" : "object",
      "title" : "BudgetSetViewBase",
          "properties" : {
            "budgetColumns" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BudgetColumnViewBase"
}
            },
            "rounding" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "budgetScale" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_BudgetScale"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "setId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "configurationInfo" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "yearSwitch" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "currencyView" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_CurrencyView"
            }
          },
      "example" : {
  "budgetColumns" : [ {
    "formula" : "...",
    "negativeBackground" : "...",
    "order" : 12345,
    "positiveBackground" : "...",
    "id" : 12345,
    "negativeFont" : "...",
    "columnType" : "NODE_TYPE",
    "dimensionId" : 12345,
    "width" : 12345,
    "activeColumns" : [ "MDF", "ACTUAL" ],
    "positiveFont" : "..."
  }, {
    "formula" : "...",
    "negativeBackground" : "...",
    "order" : 12345,
    "positiveBackground" : "...",
    "id" : 12345,
    "negativeFont" : "...",
    "columnType" : "NODE_NOTES",
    "dimensionId" : 12345,
    "width" : 12345,
    "activeColumns" : [ "REMAINING", "COMMITED" ],
    "positiveFont" : "..."
  } ],
  "rounding" : true,
  "budgetScale" : "NORMAL",
  "name" : "...",
  "setId" : 12345,
  "configurationInfo" : true,
  "yearSwitch" : true,
  "currencyView" : "WORKING"
},
      "description" : ""
    }
    ,
    "json_CategoryViewBase" : {
      "type" : "object",
      "title" : "CategoryViewBase",
      "required" : ["active"],
          "properties" : {
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "categoryId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "color" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "active" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "name" : "...",
  "categoryId" : 12345,
  "color" : "...",
  "active" : true
},
      "description" : ""
    }
    ,
    "json_ColumnOrder" : {
      "type" : "string",
      "title" : "ColumnOrder",
          "enum" : [
            "PLANNED",
            "TARGET_BUDGET",
            "COMMITED",
            "ACTUAL",
            "PROJECTED",
            "REMAINING",
            "MDF"
          ],
      "description" : ""
    }
    ,
    "json_ColumnType" : {
      "type" : "string",
      "title" : "ColumnType",
          "enum" : [
            "YEAR_BUDGET",
            "MONTH_BUDGET",
            "CURRENCY",
            "BUDGET_ANALYSIS",
            "ELEMENT_ID",
            "NODE_TYPE",
            "NODE_NOTES",
            "RESPONSIBLE_PERSON",
            "DURATION",
            "EXTERNAL_ID",
            "DIMENSION",
            "FORMULA"
          ],
      "description" : ""
    }
    ,
    "json_CreateNodeRequestBody" : {
      "type" : "object",
      "title" : "CreateNodeRequestBody",
          "properties" : {
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "nodeTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "respPerson" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserViewBase"
            },
            "currencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "externalId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "name" : "...",
  "startDate" : "...",
  "endDate" : "...",
  "nodeTypeId" : "...",
  "info" : "...",
  "respPerson" : {
    "lastName" : "...",
    "login" : "...",
    "firstName" : "...",
    "userId" : 12345
  },
  "currencyId" : 12345,
  "externalId" : "..."
},
      "description" : ""
    }
    ,
    "json_CurrencyView" : {
      "type" : "string",
      "title" : "CurrencyView",
          "enum" : [
            "WORKING",
            "REFERENCE"
          ],
      "description" : ""
    }
    ,
    "json_DimensionNodeValueDTO" : {
      "type" : "object",
      "title" : "DimensionNodeValueDTO",
          "properties" : {
            "dimensionId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "dimensionType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DimensionTypes"
            },
            "values" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DimensionValueViewBase"
}
            }
          },
      "example" : {
  "dimensionId" : 12345,
  "dimensionType" : "MW_SELECTABLE_DIMENSION_TYPE",
  "values" : [ {
    "value" : "...",
    "id" : 12345,
    "weight" : 12345.0
  }, {
    "value" : "...",
    "id" : 12345,
    "weight" : 12345.0
  } ]
},
      "description" : ""
    }
    ,
    "json_DimensionPossibleValueDTO" : {
      "type" : "object",
      "title" : "DimensionPossibleValueDTO",
          "properties" : {
            "parentValueId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "valueId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "parentValueId" : 12345,
  "value" : "...",
  "valueId" : 12345
},
      "description" : ""
    }
    ,
    "json_DimensionTypes" : {
      "type" : "string",
      "title" : "DimensionTypes",
          "enum" : [
            "TEXT_DIMENSION_TYPE",
            "M_SELECTABLE_DIMENSION_TYPE",
            "SELECTABLE_DIMENSION_TYPE",
            "MW_SELECTABLE_DIMENSION_TYPE",
            "STRUCTURED_TEXT_DIMENSION_TYPE",
            "CONTINUES_TEXT_DIMENSION_TYPE"
          ],
      "description" : ""
    }
    ,
    "json_DimensionValueViewBase" : {
      "type" : "object",
      "title" : "DimensionValueViewBase",
          "properties" : {
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "weight" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "value" : "...",
  "id" : 12345,
  "weight" : 12345.0
},
      "description" : ""
    }
    ,
    "json_DimensionViewBase" : {
      "type" : "object",
      "title" : "DimensionViewBase",
      "required" : ["required", "inheritable", "readOnly", "archived", "copyable"],
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "type" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DimensionTypes"
            },
            "required" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "inheritable" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "readOnly" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "archived" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyable" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "type" : "TEXT_DIMENSION_TYPE",
  "required" : true,
  "inheritable" : true,
  "name" : "...",
  "readOnly" : true,
  "archived" : true,
  "copyable" : true,
  "info" : "..."
},
      "description" : ""
    }
    ,
    "json_EditMTaskRequestBody" : {
      "type" : "object",
      "title" : "EditMTaskRequestBody",
          "properties" : {
            "responsibleUserId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "markerType" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "responsibleUserId" : 12345,
  "markerType" : 12345
},
      "description" : ""
    }
    ,
    "json_EditNodeRequestBody" : {
      "type" : "object",
      "title" : "EditNode",
          "properties" : {
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "externalId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "nodeName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "responsiblePerson" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserViewBase"
            },
            "generalNote" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "currencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "nodeTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "startDate" : "...",
  "endDate" : "...",
  "externalId" : "...",
  "nodeName" : "...",
  "responsiblePerson" : {
    "lastName" : "...",
    "login" : "...",
    "firstName" : "...",
    "userId" : 12345
  },
  "generalNote" : "...",
  "currencyId" : 12345,
  "nodeTypeId" : 12345
},
      "description" : ""
    }
    ,
    "json_EditTaskRequestBody" : {
      "type" : "object",
      "title" : "EditTaskRequestBody",
          "properties" : {
            "responsibleUser" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserViewBase"
            },
            "markerType" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "state" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "responsibleUser" : {
    "lastName" : "...",
    "login" : "...",
    "firstName" : "...",
    "userId" : 12345
  },
  "markerType" : 12345,
  "name" : "...",
  "date" : "...",
  "state" : "...",
  "info" : "..."
},
      "description" : ""
    }
    ,
    "json_ElementTypeViewBase" : {
      "type" : "object",
      "title" : "ElementTypeViewBase",
      "required" : ["predefined"],
          "properties" : {
            "predefined" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "base64File" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "fileType" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "fileId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "predefined" : true,
  "base64File" : "...",
  "id" : 12345,
  "fileType" : "...",
  "fileId" : 12345
},
      "description" : ""
    }
    ,
    "json_ExchangeRateDTO" : {
      "type" : "object",
      "title" : "ExchangeRateDTO",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "currencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "referenceCurrencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "exchangeRate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "units" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "id" : 12345,
  "currencyId" : 12345,
  "referenceCurrencyId" : 12345,
  "exchangeRate" : 12345.0,
  "units" : 12345
},
      "description" : ""
    }
    ,
    "json_FeeNodeRatesDTO" : {
      "type" : "object",
      "title" : "FeeNodeRatesDTO",
          "properties" : {
            "treeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "rates" : {
            "readOnly" : false,
"description" : "",
"type" : "object",
"additionalProperties" : {
  "$ref" : "#/definitions/json_FeeRateDTO"
}
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "feeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "treeId" : 12345,
  "rates" : {
    "property1" : {
      "feeId" : 12345,
      "rate" : 12345.0,
      "id" : 12345,
      "startDate" : "..."
    },
    "property2" : {
      "feeId" : 12345,
      "rate" : 12345.0,
      "id" : 12345,
      "startDate" : "..."
    }
  },
  "nodeId" : 12345,
  "feeId" : 12345
},
      "description" : ""
    }
    ,
    "json_FeeRateCreateBody" : {
      "type" : "object",
      "title" : "FeeRateCreateBody",
          "properties" : {
            "feeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "rate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "feeId" : 12345,
  "rate" : 12345.0
},
      "description" : ""
    }
    ,
    "json_FeeRateDTO" : {
      "type" : "object",
      "title" : "FeeRateDTO",
          "properties" : {
            "feeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "rate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            }
          },
      "example" : {
  "feeId" : 12345,
  "rate" : 12345.0,
  "id" : 12345,
  "startDate" : "..."
},
      "description" : ""
    }
    ,
    "json_FeeRateEditBody" : {
      "type" : "object",
      "title" : "FeeRateEditBody",
          "properties" : {
            "rate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "rate" : 12345.0
},
      "description" : ""
    }
    ,
    "json_FeeType" : {
      "type" : "string",
      "title" : "FeeType",
          "enum" : [
            "PERCENT",
            "ABSOLUTE"
          ],
      "description" : ""
    }
    ,
    "json_FeeValueViewBase" : {
      "type" : "object",
      "title" : "FeeValueViewBase",
      "required" : ["global"],
          "properties" : {
            "feeName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "feeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "feeType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_FeeType"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "global" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "feeValueId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "feeName" : "...",
  "feeId" : 12345,
  "feeType" : "PERCENT",
  "nodeId" : 12345,
  "global" : true,
  "feeValueId" : 12345
},
      "description" : ""
    }
    ,
    "json_FeeViewBase" : {
      "type" : "object",
      "title" : "FeeViewBase",
          "properties" : {
            "type" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_FeeType"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "type" : "ABSOLUTE",
  "id" : 12345,
  "name" : "..."
},
      "description" : ""
    }
    ,
    "json_GroupDTO" : {
      "type" : "object",
      "title" : "GroupDTO",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "inherit" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "id" : 12345,
  "name" : "...",
  "inherit" : true
},
      "description" : ""
    }
    ,
    "json_GroupRolePair" : {
      "type" : "object",
      "title" : "GroupRolePair",
          "properties" : {
            "groupId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "roleId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "groupId" : 12345,
  "roleId" : 12345
},
      "description" : ""
    }
    ,
    "json_KPIDefinitionDTO" : {
      "type" : "object",
      "title" : "KPIDefinitionDTO",
      "required" : ["required", "archived"],
          "properties" : {
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "minRate" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "kpiSets" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_KPISetViewBase"
}
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "required" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "maxRate" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "analysisType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_AnalysisType"
            },
            "type" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Type"
            },
            "archived" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "kpiInfo" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "value" : "...",
  "minRate" : 12345,
  "kpiSets" : [ {
    "id" : 12345,
    "name" : "..."
  }, {
    "id" : 12345,
    "name" : "..."
  } ],
  "id" : 12345,
  "required" : true,
  "name" : "...",
  "maxRate" : 12345,
  "analysisType" : "none",
  "type" : "constant",
  "archived" : true,
  "kpiInfo" : "..."
},
      "description" : ""
    }
    ,
    "json_KPISetViewBase" : {
      "type" : "object",
      "title" : "KPISetViewBase",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "name" : "..."
},
      "description" : ""
    }
    ,
    "json_KpiDTO" : {
      "type" : "object",
      "title" : "KpiDTO",
          "properties" : {
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "target" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "infoText" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "weight" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "kpiDefinitionId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "nodeId" : 12345,
  "target" : 12345.0,
  "infoText" : "...",
  "weight" : 12345,
  "date" : "...",
  "kpiDefinitionId" : 12345,
  "id" : 12345,
  "value" : 12345.0
},
      "description" : ""
    }
    ,
    "json_MDFCommentViewBase" : {
      "type" : "object",
      "title" : "MDFCommentViewBase",
          "properties" : {
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "user" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserViewBase"
            },
            "comment" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "date" : "...",
  "user" : {
    "lastName" : "...",
    "login" : "...",
    "firstName" : "...",
    "userId" : 12345
  },
  "comment" : "..."
},
      "description" : ""
    }
    ,
    "json_ManageTaskCreateDTO" : {
      "type" : "object",
      "title" : "ManageTaskCreateDTO",
          "properties" : {
            "responsibleUser" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserViewBase"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "state" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_State"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "jobTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "workflowId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "markerType" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "responsibleUser" : {
    "lastName" : "...",
    "login" : "...",
    "firstName" : "...",
    "userId" : 12345
  },
  "date" : "...",
  "name" : "...",
  "info" : "...",
  "id" : 12345,
  "state" : "IN_PROGRESS",
  "nodeId" : 12345,
  "jobTypeId" : 12345,
  "workflowId" : 12345,
  "markerType" : 12345
},
      "description" : ""
    }
    ,
    "json_MarkerTypeCategoryView" : {
      "type" : "object",
      "title" : "MarkerTypeCategoryView",
      "required" : ["predefined"],
          "properties" : {
            "active" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "predefined" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "active" : true,
  "predefined" : true,
  "name" : "...",
  "id" : 12345
},
      "description" : ""
    }
    ,
    "json_MarkerTypeCategoryViewBase" : {
      "type" : "object",
      "title" : "MarkerTypeCategoryViewBase",
      "required" : ["predefined"],
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "active" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "predefined" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "active" : true,
  "predefined" : true,
  "name" : "..."
},
      "description" : ""
    }
    ,
    "json_MarkerTypeRequestBody" : {
      "type" : "object",
      "title" : "MarkerTypeRequestBody",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "categoryId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "active" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "base64File" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "fileType" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "categoryId" : 12345,
  "name" : "...",
  "active" : true,
  "base64File" : "...",
  "fileType" : "..."
},
      "description" : "Created by alexander.yordanov on 2019-11-06."
    }
    ,
    "json_MarkerTypeViewBase" : {
      "type" : "object",
      "title" : "MarkerTypeViewBase",
      "required" : ["predefined"],
          "properties" : {
            "active" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "predefined" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "fileId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "categoryId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "active" : true,
  "predefined" : true,
  "fileId" : 12345,
  "categoryId" : 12345,
  "id" : 12345,
  "name" : "..."
},
      "description" : ""
    }
    ,
    "json_MdfApproveBody" : {
      "type" : "object",
      "title" : "MdfApproveBody",
          "properties" : {
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "comment" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "value" : 12345.0,
  "comment" : "..."
},
      "description" : ""
    }
    ,
    "json_MdfDTO" : {
      "type" : "object",
      "title" : "MdfDTO",
          "properties" : {
            "state" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_State_MdfDTO"
            },
            "requestDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "approvalRejectedDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "billId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "attachmentIds" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "approverUserId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "state" : "APPROVED",
  "requestDate" : "...",
  "approvalRejectedDate" : "...",
  "name" : "...",
  "value" : 12345.0,
  "billId" : 12345,
  "attachmentIds" : [ 12345, 12345 ],
  "approverUserId" : 12345,
  "id" : 12345,
  "nodeId" : 12345
},
      "description" : ""
    }
    ,
    "json_MdfGrantBody" : {
      "type" : "object",
      "title" : "MdfGrantBody",
          "properties" : {
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "comment" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "name" : "...",
  "date" : "...",
  "value" : 12345.0,
  "comment" : "..."
},
      "description" : ""
    }
    ,
    "json_MdfRequestBody" : {
      "type" : "object",
      "title" : "MdfRequestBody",
          "properties" : {
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "approverUserId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "billId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "comment" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "attachmentIds" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            }
          },
      "example" : {
  "name" : "...",
  "approverUserId" : 12345,
  "billId" : 12345,
  "comment" : "...",
  "attachmentIds" : [ 12345, 12345 ]
},
      "description" : ""
    }
    ,
    "json_ModuleDTO" : {
      "type" : "object",
      "title" : "ModuleDTO",
      "required" : ["canApplyView"],
          "properties" : {
            "moduleCode" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "canApplyView" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "moduleCode" : "...",
  "canApplyView" : true,
  "name" : "..."
},
      "description" : ""
    }
    ,
    "json_ModuleLinkRequestBody" : {
      "type" : "object",
      "title" : "ModuleLinkRequestBody",
          "properties" : {
            "moduleCode" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "viewId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "columnSetId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "moduleCode" : "...",
  "viewId" : 12345,
  "columnSetId" : 12345
},
      "description" : ""
    }
    ,
    "json_Month" : {
      "type" : "string",
      "title" : "Month",
          "enum" : [
            "JANUARY",
            "FEBRUARY",
            "MARCH",
            "APRIL",
            "MAY",
            "JUNE",
            "JULY",
            "AUGUST",
            "SEPTEMBER",
            "OCTOBER",
            "NOVEMBER",
            "DECEMBER"
          ],
      "description" : ""
    }
    ,
    "json_NodeDTO" : {
      "type" : "object",
      "title" : "Node",
          "properties" : {
            "parentId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "currencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "externalId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "respPerson" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserViewBase"
            },
            "leaf" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "nodeType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_NodeTypeViewBase"
            }
          },
      "example" : {
  "parentId" : 12345,
  "startDate" : "...",
  "endDate" : "...",
  "currencyId" : 12345,
  "externalId" : "...",
  "id" : 12345,
  "name" : "...",
  "info" : "...",
  "respPerson" : {
    "lastName" : "...",
    "login" : "...",
    "firstName" : "...",
    "userId" : 12345
  },
  "leaf" : true,
  "nodeType" : {
    "active" : true,
    "italic" : true,
    "backgroundColour" : "...",
    "name" : "...",
    "icon" : 12345,
    "id" : 12345,
    "bold" : true,
    "colour" : "...",
    "editable" : true
  }
},
      "description" : ""
    }
    ,
    "json_NodeCommentRequestBody" : {
      "type" : "object",
      "title" : "NodeCommentRequestBody",
          "properties" : {
            "comment" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "comment" : "..."
},
      "description" : ""
    }
    ,
    "json_NodeCommentViewBase" : {
      "type" : "object",
      "title" : "NodeCommentViewBase",
          "properties" : {
            "commentDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "creator" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserViewBase"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "comment" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "commentDate" : "...",
  "creator" : {
    "lastName" : "...",
    "login" : "...",
    "firstName" : "...",
    "userId" : 12345
  },
  "nodeId" : 12345,
  "id" : 12345,
  "comment" : "..."
},
      "description" : ""
    }
    ,
    "json_NodeCopyRequestBody" : {
      "type" : "object",
      "title" : "NodeCopyRequest",
      "required" : ["copyTimelines", "copyTasks", "copyMarkers", "copyAttachments", "copyInvoices", "copySunkCosts", "copyBudgets", "copyDimensions", "copyKpis", "copyGeneralInfo", "copyFees"],
          "properties" : {
            "copyTimelines" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyTasks" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyMarkers" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyAttachments" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyInvoices" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copySunkCosts" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyBudgets" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyDimensions" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyKpis" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyGeneralInfo" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyFees" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "copyTimelines" : true,
  "copyTasks" : true,
  "copyMarkers" : true,
  "copyAttachments" : true,
  "copyInvoices" : true,
  "copySunkCosts" : true,
  "copyBudgets" : true,
  "copyDimensions" : true,
  "copyKpis" : true,
  "copyGeneralInfo" : true,
  "copyFees" : true
},
      "description" : ""
    }
    ,
    "json_NodeDeeplinkDTO" : {
      "type" : "object",
      "title" : "NodeDeeplinkDTO",
          "properties" : {
            "calendarLink" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "budgetLink" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "node" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_NodeDTO"
            }
          },
      "example" : {
  "calendarLink" : "...",
  "budgetLink" : "...",
  "node" : {
    "parentId" : 12345,
    "startDate" : "...",
    "endDate" : "...",
    "currencyId" : 12345,
    "externalId" : "...",
    "id" : 12345,
    "name" : "...",
    "info" : "...",
    "respPerson" : {
      "lastName" : "...",
      "login" : "...",
      "firstName" : "...",
      "userId" : 12345
    },
    "leaf" : true,
    "nodeType" : {
      "active" : true,
      "italic" : true,
      "backgroundColour" : "...",
      "name" : "...",
      "icon" : 12345,
      "id" : 12345,
      "bold" : true,
      "colour" : "...",
      "editable" : true
    }
  }
},
      "description" : ""
    }
    ,
    "json_NodeTypeViewBase" : {
      "type" : "object",
      "title" : "NodeTypeViewBase",
          "properties" : {
            "active" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "italic" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "backgroundColour" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "icon" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "bold" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "colour" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "editable" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "active" : true,
  "italic" : true,
  "backgroundColour" : "...",
  "name" : "...",
  "icon" : 12345,
  "id" : 12345,
  "bold" : true,
  "colour" : "...",
  "editable" : true
},
      "description" : ""
    }
    ,
    "json_PageResource" : {
      "type" : "object",
      "title" : "PageResource",
      "required" : ["totalElements", "limit", "offset", "numberOfElements", "pageNumber"],
          "properties" : {
            "content" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "object"
}
            },
            "totalElements" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "limit" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "offset" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "sort" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Sort"
            },
            "numberOfElements" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "pageNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "content" : [ { }, { } ],
  "totalElements" : 12345,
  "limit" : 12345,
  "offset" : 12345,
  "sort" : {
    "unsorted" : true,
    "sorted" : true
  },
  "numberOfElements" : 12345,
  "pageNumber" : 12345
},
      "description" : ""
    }
    ,
    "json_PlanningType" : {
      "type" : "string",
      "title" : "PlanningType",
          "enum" : [
            "TOP_DOWN",
            "BOTTOM_UP"
          ],
      "description" : ""
    }
    ,
    "json_SearchCriteriaDTO" : {
      "type" : "object",
      "title" : "SearchCriteriaDTO",
          "properties" : {
            "types" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "string"
}
            },
            "treeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "types" : [ "...", "..." ],
  "treeId" : 12345
},
      "description" : "search criterias\ntypes for search : TIME_LINE, NODE, TASK, INVOICE, ATTACHMENT, SUNK_COST, DIMENSION_VALUE <br>\ntreeid: in which year to execute search. If treeId is NULL will execute for all years."
    }
    ,
    "json_SearchResultDTO" : {
      "type" : "object",
      "title" : "SearchResultDTO",
          "properties" : {
            "object" : {
            "readOnly" : false,
"description" : "",
"type" : "object"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "ancestors" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_AncestorsDTO"
}
            }
          },
      "example" : {
  "object" : { },
  "nodeId" : 12345,
  "type" : "...",
  "ancestors" : [ {
    "id" : 12345,
    "name" : "..."
  }, {
    "id" : 12345,
    "name" : "..."
  } ]
},
      "description" : "object : object. Can be NULL if object that you search is no longer exist in system<br>\nnodeId : nodeId <br>\ntype : what type of object is this (TIME_LINE, NODE, TASK, INVOICE, ATTACHMENT, SUNK_COST, MANAGED_TASK) <br>"
    }
    ,
    "json_SlideshowDTO" : {
      "type" : "object",
      "title" : "SlideshowDTO",
          "properties" : {
            "slideshowElements" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_SlideshowElementDTO"
}
            },
            "width" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "height" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "slideshowElements" : [ {
    "url" : "...",
    "title" : "...",
    "video" : true,
    "stretched" : true
  }, {
    "url" : "...",
    "title" : "...",
    "video" : true,
    "stretched" : true
  } ],
  "width" : "...",
  "height" : "..."
},
      "description" : "Created by alexander.yordanov on 2018-04-27."
    }
    ,
    "json_SlideshowElementDTO" : {
      "type" : "object",
      "title" : "SlideshowElementDTO",
      "required" : ["video", "stretched"],
          "properties" : {
            "url" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "title" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "video" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "stretched" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "url" : "...",
  "title" : "...",
  "video" : true,
  "stretched" : true
},
      "description" : "Created by alexander.yordanov on 2018-04-27."
    }
    ,
    "json_Sort" : {
      "type" : "object",
      "title" : "Sort",
      "required" : ["unsorted", "sorted"],
          "properties" : {
            "unsorted" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "sorted" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "unsorted" : true,
  "sorted" : true
},
      "description" : ""
    }
    ,
    "json_SortResource" : {
      "type" : "object",
      "title" : "SortResource",
      "required" : ["unsorted", "sorted"],
          "properties" : {
            "unsorted" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "sorted" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "unsorted" : true,
  "sorted" : true
},
      "description" : ""
    }
    ,
    "json_State" : {
      "type" : "string",
      "title" : "State",
          "enum" : [
            "OPEN",
            "DONE",
            "PLANNED",
            "PAUSED",
            "CANCELLED",
            "IN_PROGRESS"
          ],
      "description" : ""
    }
    ,
    "json_State_MdfDTO" : {
      "type" : "string",
      "title" : "State",
          "enum" : [
            "APPROVED",
            "PENDING",
            "REJECTED"
          ],
      "description" : ""
    }
    ,
    "json_SunkCostDTO" : {
      "type" : "object",
      "title" : "SunkCostDTO",
          "properties" : {
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "costType" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "amount" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "supplier" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "closed" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "refNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "respPerson" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "jobNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "costCenter" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "date" : "...",
  "name" : "...",
  "costType" : "...",
  "amount" : 12345.0,
  "info" : "...",
  "id" : 12345,
  "supplier" : "...",
  "closed" : true,
  "refNumber" : "...",
  "respPerson" : "...",
  "jobNumber" : "...",
  "costCenter" : "..."
},
      "description" : "Created by alexander.yordanov on 2017-10-10."
    }
    ,
    "json_TargetBudgetDTO" : {
      "type" : "object",
      "title" : "TargetBudgetDTO",
          "properties" : {
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "amount" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "costType" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "date" : "...",
  "amount" : 12345.0,
  "id" : 12345,
  "name" : "...",
  "costType" : "..."
},
      "description" : "Created by alexander.yordanov on 2017-10-10."
    }
    ,
    "json_TaskDTO" : {
      "type" : "object",
      "title" : "Task",
          "properties" : {
            "state" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_State"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "markerType" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "jobId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "responsibleUser" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserViewBase"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            }
          },
      "example" : {
  "state" : "DONE",
  "id" : 12345,
  "markerType" : 12345,
  "jobId" : 12345,
  "nodeId" : 12345,
  "responsibleUser" : {
    "lastName" : "...",
    "login" : "...",
    "firstName" : "...",
    "userId" : 12345
  },
  "name" : "...",
  "info" : "...",
  "date" : "..."
},
      "description" : ""
    }
    ,
    "json_TasksRevisionChangesOfTaskDTO" : {
      "type" : "object",
      "title" : "TasksRevisionChangesOfTaskDTO",
          "properties" : {
            "deleted" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "modified" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_TaskDTO"
}
            },
            "revision" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            }
          },
      "example" : {
  "deleted" : [ 12345, 12345 ],
  "modified" : [ {
    "state" : "CANCELLED",
    "id" : 12345,
    "markerType" : 12345,
    "jobId" : 12345,
    "nodeId" : 12345,
    "responsibleUser" : {
      "lastName" : "...",
      "login" : "...",
      "firstName" : "...",
      "userId" : 12345
    },
    "name" : "...",
    "info" : "...",
    "date" : "..."
  }, {
    "state" : "OPEN",
    "id" : 12345,
    "markerType" : 12345,
    "jobId" : 12345,
    "nodeId" : 12345,
    "responsibleUser" : {
      "lastName" : "...",
      "login" : "...",
      "firstName" : "...",
      "userId" : 12345
    },
    "name" : "...",
    "info" : "...",
    "date" : "..."
  } ],
  "revision" : 12345
},
      "description" : ""
    }
    ,
    "json_TreeDTO" : {
      "type" : "object",
      "title" : "Tree",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "planningType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_PlanningType"
            },
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "string",
"format" : "date-time"
            },
            "type" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_TreeType"
            },
            "currencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "id" : 12345,
  "name" : "...",
  "planningType" : "TOP_DOWN",
  "startDate" : "...",
  "endDate" : "...",
  "currencyId" : 12345
},
      "description" : ""
    }
    ,
    "json_TreeType" : {
      "type" : "string",
      "title" : "TreeType",
          "enum" : [
            "FLEXIBLE",
            "STRICT"
          ],
      "description" : ""
    }
    ,
    "json_Type" : {
      "type" : "string",
      "title" : "Type",
          "enum" : [
            "constant",
            "computed",
            "measurable"
          ],
      "description" : ""
    }
    ,
    "json_UserViewBase" : {
      "type" : "object",
      "title" : "UserViewBase",
          "properties" : {
            "lastName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "login" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "firstName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "userId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "lastName" : "...",
  "login" : "...",
  "firstName" : "...",
  "userId" : 12345
},
      "description" : ""
    }
    ,
    "json_ViewViewBase" : {
      "type" : "object",
      "title" : "ViewViewBase",
          "properties" : {
            "viewName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "viewId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          },
      "example" : {
  "viewName" : "...",
  "viewId" : 12345
},
      "description" : ""
    }
    ,
    "xml_ns0_pageResource" : {
      "type" : "object",
      "title" : "pageResource",
      "allOf" : [
        {
        }
      ],
      "description" : ""
    }
    ,
    "xml_ns0_ancestorsDTO" : {
      "type" : "object",
      "title" : "ancestorsDTO",
      "allOf" : [
        {
        }
      ],
      "description" : "Created by alexander.yordanov on 2019-09-17."
    }
    ,
    "xml_ns0_attachmentDTO" : {
      "type" : "object",
      "title" : "attachmentDTO",
      "allOf" : [
        {
          "$ref" : "#/definitions/xml_ns0_annexAttachmentViewBase"
        },
        {
        }
      ],
      "description" : "Created by alexander.yordanov on 2017-10-20."
    }
    ,
    "xml_ns0_BMonthDTO" : {
      "type" : "object",
      "title" : "BMonthDTO",
      "allOf" : [
        {
          "properties" : {
            "actual" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "calculated" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "commited" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "mdf" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "planned" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "projected" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "remainig" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "target" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "xml_ns0_BQuarterDTO" : {
      "type" : "object",
      "title" : "BQuarterDTO",
      "allOf" : [
        {
          "properties" : {
            "actual" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "calculated" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "commited" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "mdf" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "planned" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "projected" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "remainig" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            },
            "target" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "integer"
}
            }
          }
        }
      ],
      "description" : "Quarter budget"
    }
    ,
    "xml_ns0_BYearDTO" : {
      "type" : "object",
      "title" : "BYearDTO",
      "allOf" : [
        {
          "properties" : {
            "actual" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "calculated" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "commited" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "mdf" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "planned" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "projected" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "remainig" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "target" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "xml_ns0_billDTO" : {
      "type" : "object",
      "title" : "billDTO",
      "allOf" : [
        {
          "$ref" : "#/definitions/xml_ns0_annexBillViewBase"
        },
        {
        }
      ],
      "description" : "Created by alexander.yordanov on 2017-10-10."
    }
    ,
    "xml_ns0_budgetColumnsDTO" : {
      "type" : "object",
      "title" : "budgetColumnsDTO",
      "allOf" : [
        {
          "properties" : {
            "month" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"$ref" : "#/definitions/xml_ns0_BMonthDTO"
            },
            "quarter" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"$ref" : "#/definitions/xml_ns0_BQuarterDTO"
            },
            "year" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"$ref" : "#/definitions/xml_ns0_BYearDTO"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "xml_ns0_budgetSetDTO" : {
      "type" : "object",
      "title" : "budgetSetDTO",
      "allOf" : [
        {
          "$ref" : "#/definitions/xml_ns0_budgetSetViewBase"
        },
        {
        }
      ],
      "description" : "Created by alexander.yordanov on 2020-05-18."
    }
    ,
    "xml_ns0_dimensionNodeValueDTO" : {
      "type" : "object",
      "title" : "dimensionNodeValueDTO",
      "allOf" : [
        {
          "properties" : {
            "dimensionId" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "dimensionType" : {
              "xml" : {
                "namespace" : ""
              },
            "readOnly" : false,
"$ref" : "#/definitions/xml_ns0_dimensionTypes"
            },
[...]
