{
  "swagger": "2.0",
  "info" : {
    "description" : "<h2>Admin REST API<\/h1>\n      <p>Root context: <b>/dse/rest<\/b><\/p>",
    "version" : "1.0.0-SNAPSHOT",
    "title" : "Admin REST API"
  },
  "host" : "is-dev2.brandmaker.com",
  "basePath" : "/dse/rest",
  "schemes" : ["https"],
  "tags" : [
    {
      "name" : "AssetRestServiceV1"
      ,
      "description" : "REST service for media data."
    }
    ,
    {
      "name" : "CustomActionDseObjectRestService"
    }
    ,
    {
      "name" : "DseFlatCustomStructureRestServiceV1"
      ,
      "description" : "REST service for Custom Structure."
    }
    ,
    {
      "name" : "DseObjectRestServiceV1"
      ,
      "description" : "REST service for DSE objects."
    }
    ,
    {
      "name" : "DseObjectTypeAdminRestServiceV1"
      ,
      "description" : "REST service to retrieve Job Manager meta data."
    }
    ,
    {
      "name" : "DseWorkflowActionRestServiceV1"
    }
    ,
    {
      "name" : "JobGridRestServiceV1"
    }
    ,
    {
      "name" : "JobMetaDataRestServiceV1"
      ,
      "description" : "REST service to retrieve Job Manager meta data."
    }
    ,
    {
      "name" : "JobRestServiceV1"
      ,
      "description" : "REST service for Jobs."
    }
    ,
    {
      "name" : "MaplRestService"
    }
    ,
    {
      "name" : "MaplSubstituteRestService"
    }
    ,
    {
      "name" : "ProductGridRestServiceV1"
    }
    ,
    {
      "name" : "ProductMetaDataRestServiceV1"
      ,
      "description" : "REST service to retrieve Job Manager meta data."
    }
    ,
    {
      "name" : "ProductRestServiceV1"
    }
  ],
  "definitions" : {
    "json_AbstractDseMaplSliceDto" : {
      "type" : "object",
      "title" : "AbstractDseMaplSliceDto",
          "properties" : {
            "content" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "object"
}
            }
          },
      "example" : {
  "content" : [ { }, { } ]
},
      "description" : ""
    }
    ,
    "json_ActionButtonDto" : {
      "type" : "object",
      "title" : "ActionButtonDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "url" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "url" : "...",
  "metaTypeId" : "7",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "Base DTO for variable."
    }
    ,
    "json_AssetDto" : {
      "type" : "object",
      "title" : "AssetDto",
          "properties" : {
            "selectByArticleNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "selectFromMediaPool" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "freeTextField" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "selectByArticleNumber" : true,
  "selectFromMediaPool" : true,
  "freeTextField" : 12345
},
      "description" : "DTO for asset data."
    }
    ,
    "json_AssetSelectorColumnDto" : {
      "type" : "object",
      "title" : "AssetSelectorColumnDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "width" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "asset" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_AssetDto"
            },
            "formerTechnicalValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dynamicTableIndex" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "prefilling" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_PrefillingDto"
            }
          }
        }
      ],
      "example" : {
  "width" : 12345,
  "position" : 12345,
  "asset" : {
    "selectByArticleNumber" : true,
    "selectFromMediaPool" : true,
    "freeTextField" : 12345
  },
  "formerTechnicalValue" : "...",
  "dynamicTableIndex" : "...",
  "prefilling" : {
    "customStructureId" : 12345,
    "attributeId" : "...",
    "keyId" : 12345,
    "overrideId" : 12345,
    "permanentBinding" : true
  },
  "metaTypeId" : "49",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "DTO for AssetSelectorColumn variable type."
    }
    ,
    "json_AssetSelectorDto" : {
      "type" : "object",
      "title" : "AssetSelectorDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "typeSpanning" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "inheritFromParent" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "prefilling" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_PrefillingDto"
            },
            "asset" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_AssetDto"
            },
            "completeWidth" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          }
        }
      ],
      "example" : {
  "typeSpanning" : true,
  "inheritFromParent" : true,
  "prefilling" : {
    "customStructureId" : 12345,
    "attributeId" : "...",
    "keyId" : 12345,
    "overrideId" : 12345,
    "permanentBinding" : true
  },
  "asset" : {
    "selectByArticleNumber" : true,
    "selectFromMediaPool" : true,
    "freeTextField" : 12345
  },
  "completeWidth" : true,
  "metaTypeId" : "15",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "system" : true
},
      "description" : "DTO for asset selector variable type."
    }
    ,
    "json_BaseIdsDto" : {
      "type" : "object",
      "title" : "BaseIdsDto",
          "properties" : {
            "instanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "ordinalNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "typeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "instanceId" : 12345,
  "ordinalNumber" : 12345,
  "typeId" : 12345
},
      "description" : ""
    }
    ,
    "json_BaseSelectableVariableTypeDto" : {
      "type" : "object",
      "title" : "BaseSelectableVariableTypeDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "sourceCustomStructureName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "sourceCustomStructureName" : "...",
  "metaTypeId" : "BaseSelectableVariableTypeDto",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "Base DTO for selectable variable types."
    }
    ,
    "json_BaseVariableTypeDto" : {
      "type" : "object",
      "title" : "BaseVariableTypeDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "metaTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "metaTypeName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "uniqueName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "displayName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "rawLabel" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "mode" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "technicalName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "sharedLocale" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "helpText" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "visibility" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_VisibilityDto"
            },
            "dependsFromVariableId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "dependsFromVariableValues" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "string"
}
            },
            "typeSpanning" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "system" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "metaTypeId" : "16",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "Base DTO for variable."
    }
    ,
    "json_BaseVariableTypeWithDataSourceDto" : {
      "type" : "object",
      "title" : "BaseVariableTypeWithDataSourceDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "dataSourceName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "dataSourceName" : "...",
  "metaTypeId" : "BaseVariableTypeWithDataSourceDto",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "Base DTO with data source name for variable type."
    }
    ,
    "json_BreadcrumbSubJobsDto" : {
      "type" : "object",
      "title" : "BreadcrumbSubJobsDto",
          "properties" : {
            "instanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "jobId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "jobName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "instanceId" : 12345,
  "jobId" : "...",
  "jobName" : "..."
},
      "description" : ""
    }
    ,
    "json_BreadcrumbWorkflowDto" : {
      "type" : "object",
      "title" : "BreadcrumbWorkflowDto",
          "properties" : {
            "instanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "typeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "creator" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserDto"
            },
            "currentStep" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_BreadcrumbWorkflowStepDetailsDto"
            },
            "steps" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BreadcrumbWorkflowStepDto"
}
            }
          },
      "example" : {
  "instanceId" : 12345,
  "typeId" : 12345,
  "name" : "...",
  "creator" : {
    "id" : 12345,
    "firstName" : "...",
    "fullName" : "...",
    "lastName" : "...",
    "email" : "...",
    "login" : "..."
  },
  "currentStep" : {
    "id" : 12345,
    "number" : 12345,
    "name" : {
      "label" : { },
      "value" : { }
    },
    "startDate" : {
      "label" : { },
      "value" : { }
    },
    "endDate" : {
      "label" : { },
      "value" : { }
    },
    "assignees" : {
      "label" : { },
      "value" : { }
    }
  },
  "steps" : [ {
    "id" : 12345,
    "name" : "...",
    "status" : "..."
  }, {
    "id" : 12345,
    "name" : "...",
    "status" : "..."
  } ]
},
      "description" : "DTO for workflow."
    }
    ,
    "json_BreadcrumbWorkflowStepDetailsDto" : {
      "type" : "object",
      "title" : "BreadcrumbWorkflowStepDetailsDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "number" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_LabelValueDto"
            },
            "startDate" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_LabelValueDto"
            },
            "endDate" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_LabelValueDto"
            },
            "assignees" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_LabelValueDto"
            }
          },
      "example" : {
  "id" : 12345,
  "number" : 12345,
  "name" : {
    "label" : { },
    "value" : { }
  },
  "startDate" : {
    "label" : { },
    "value" : { }
  },
  "endDate" : {
    "label" : { },
    "value" : { }
  },
  "assignees" : {
    "label" : { },
    "value" : { }
  }
},
      "description" : "DTO for worflow step."
    }
    ,
    "json_BreadcrumbWorkflowStepDto" : {
      "type" : "object",
      "title" : "BreadcrumbWorkflowStepDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "status" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "name" : "...",
  "status" : "..."
},
      "description" : "DTO for items of breadcrumb workflow."
    }
    ,
    "json_CollectionDto" : {
      "type" : "object",
      "title" : "CollectionDto",
          "properties" : {
            "data" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "object"
}
            }
          },
      "example" : {
  "data" : [ { }, { } ]
},
      "description" : ""
    }
    ,
    "json_ComboBoxColumnDto" : {
      "type" : "object",
      "title" : "ComboBoxColumnDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseSelectableVariableTypeDto"
        },
        {
          "properties" : {
            "width" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "defaultValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dynamicTableIndex" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "width" : 12345,
  "position" : 12345,
  "defaultValue" : "...",
  "dynamicTableIndex" : "...",
  "sourceCustomStructureName" : "...",
  "metaTypeId" : "61",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "DTO for ComboBoxColumn variable type."
    }
    ,
    "json_ComboBoxDto" : {
      "type" : "object",
      "title" : "ComboBoxDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseSelectableVariableTypeDto"
        },
        {
          "properties" : {
            "typeSpanning" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "inheritFromParent" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "defaultValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "typeSpanning" : true,
  "inheritFromParent" : true,
  "defaultValue" : "...",
  "sourceCustomStructureName" : "...",
  "metaTypeId" : "60",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "system" : true
},
      "description" : "DTO for combo box variable type."
    }
    ,
    "json_ComfortGridDto" : {
      "type" : "object",
      "title" : "ComfortGridDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "columns" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "columns" : "...",
  "metaTypeId" : "6",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "Base DTO for variable."
    }
    ,
    "json_CreateVariableTypeRequestDto" : {
      "type" : "object",
      "title" : "CreateVariableTypeRequestDto",
          "properties" : {
            "inheritedVariableTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "metaTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "displayName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "inheritedVariableTypeId" : 12345,
  "metaTypeId" : 12345,
  "displayName" : "..."
},
      "description" : "DTO for request to create variable type."
    }
    ,
    "json_CustomObjectDto" : {
      "type" : "object",
      "title" : "CustomObjectDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "customStructureId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "status" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "displayName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "customStructureId" : 12345,
  "status" : 12345,
  "name" : "...",
  "displayName" : "..."
},
      "description" : "Base DTO for custom object."
    }
    ,
    "json_CustomStructureAttributeDto" : {
      "type" : "object",
      "title" : "CustomStructureAttributeDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "label" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "order" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "comment" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : "...",
  "name" : "...",
  "label" : "...",
  "order" : 12345,
  "comment" : "...",
  "type" : "..."
},
      "description" : "DTO for custom structure attribute."
    }
    ,
    "json_CustomStructureDto" : {
      "type" : "object",
      "title" : "CustomStructureDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "displayName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "parentId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "objects" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_CustomObjectDto"
}
            }
          },
      "example" : {
  "id" : 12345,
  "name" : "...",
  "displayName" : "...",
  "parentId" : 12345,
  "objects" : [ {
    "id" : 12345,
    "customStructureId" : 12345,
    "status" : 12345,
    "name" : "...",
    "displayName" : "..."
  }, {
    "id" : 12345,
    "customStructureId" : 12345,
    "status" : 12345,
    "name" : "...",
    "displayName" : "..."
  } ]
},
      "description" : "Base DTO for custom structure."
    }
    ,
    "json_DataSheetAreaDto" : {
      "type" : "object",
      "title" : "DataSheetAreaDto",
          "properties" : {
            "variables" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DataSheetVariableDto"
}
            }
          },
      "example" : {
  "variables" : [ {
    "editable" : true,
    "required" : true,
    "variableType" : {
      "metaTypeId" : "16",
      "id" : 12345,
      "metaTypeName" : "...",
      "uniqueName" : "...",
      "displayName" : "...",
      "rawLabel" : "...",
      "mode" : 12345,
      "technicalName" : "...",
      "sharedLocale" : true,
      "helpText" : "...",
      "visibility" : { },
      "dependsFromVariableId" : 12345,
      "dependsFromVariableValues" : [ "...", "..." ],
      "typeSpanning" : true,
      "system" : true
    }
  }, {
    "editable" : true,
    "required" : true,
    "variableType" : {
      "metaTypeId" : "16",
      "id" : 12345,
      "metaTypeName" : "...",
      "uniqueName" : "...",
      "displayName" : "...",
      "rawLabel" : "...",
      "mode" : 12345,
      "technicalName" : "...",
      "sharedLocale" : true,
      "helpText" : "...",
      "visibility" : { },
      "dependsFromVariableId" : 12345,
      "dependsFromVariableValues" : [ "...", "..." ],
      "typeSpanning" : true,
      "system" : true
    }
  } ]
},
      "description" : "DTO for DSE data sheet area."
    }
    ,
    "json_DataSheetDto" : {
      "type" : "object",
      "title" : "DataSheetDto",
          "properties" : {
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "label" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "sections" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DataSheetSectionDto"
}
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "technicalName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "type" : "...",
  "label" : "...",
  "sections" : [ {
    "areas" : [ {
      "variables" : [ { }, { } ]
    }, {
      "variables" : [ { }, { } ]
    } ],
    "separatorNeeded" : true
  }, {
    "areas" : [ {
      "variables" : [ { }, { } ]
    }, {
      "variables" : [ { }, { } ]
    } ],
    "separatorNeeded" : true
  } ],
  "id" : 12345,
  "technicalName" : "..."
},
      "description" : "DTO for DSE data sheet."
    }
    ,
    "json_DataSheetSectionDto" : {
      "type" : "object",
      "title" : "DataSheetSectionDto",
          "properties" : {
            "areas" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DataSheetAreaDto"
}
            },
            "separatorNeeded" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "areas" : [ {
    "variables" : [ {
      "editable" : true,
      "required" : true,
      "variableType" : { }
    }, {
      "editable" : true,
      "required" : true,
      "variableType" : { }
    } ]
  }, {
    "variables" : [ {
      "editable" : true,
      "required" : true,
      "variableType" : { }
    }, {
      "editable" : true,
      "required" : true,
      "variableType" : { }
    } ]
  } ],
  "separatorNeeded" : true
},
      "description" : "DTO for DSE data sheet section."
    }
    ,
    "json_DataSheetVariableDto" : {
      "type" : "object",
      "title" : "DataSheetVariableDto",
          "properties" : {
            "editable" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "required" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "variableType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_BaseVariableTypeDto"
            }
          },
      "example" : {
  "editable" : true,
  "required" : true,
  "variableType" : {
    "metaTypeId" : "16",
    "id" : 12345,
    "metaTypeName" : "...",
    "uniqueName" : "...",
    "displayName" : "...",
    "rawLabel" : "...",
    "mode" : 12345,
    "technicalName" : "...",
    "sharedLocale" : true,
    "helpText" : "...",
    "visibility" : {
      "variableId" : 12345,
      "values" : [ "...", "..." ]
    },
    "dependsFromVariableId" : 12345,
    "dependsFromVariableValues" : [ "...", "..." ],
    "typeSpanning" : true,
    "system" : true
  }
},
      "description" : "DTO for data sheet variable."
    }
    ,
    "json_DateInputLineColumnDto" : {
      "type" : "object",
      "title" : "DateInputLineColumnDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "width" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "dateValidation" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DateValidationDto"
            },
            "formerTechnicalValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dynamicTableIndex" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "prefilling" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_PrefillingDto"
            }
          }
        }
      ],
      "example" : {
  "width" : 12345,
  "position" : 12345,
  "dateValidation" : {
    "validDatesOnly" : true,
    "offsetDays" : 12345,
    "reference" : 12345
  },
  "formerTechnicalValue" : "...",
  "dynamicTableIndex" : "...",
  "prefilling" : {
    "customStructureId" : 12345,
    "attributeId" : "...",
    "keyId" : 12345,
    "overrideId" : 12345,
    "permanentBinding" : true
  },
  "metaTypeId" : "44",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "DTO for DateInputLineColumn variable type."
    }
    ,
    "json_DateInputLineDto" : {
      "type" : "object",
      "title" : "DateInputLineDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_DateWithTimeInputLineDto"
        },
        {
          "properties" : {
            "prefilling" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_PrefillingDto"
            }
          }
        }
      ],
      "example" : {
  "prefilling" : {
    "customStructureId" : 12345,
    "attributeId" : "...",
    "keyId" : 12345,
    "overrideId" : 12345,
    "permanentBinding" : true
  },
  "typeSpanning" : true,
  "dateValidation" : {
    "validDatesOnly" : true,
    "offsetDays" : 12345,
    "reference" : 12345
  },
  "inheritFromParent" : true,
  "metaTypeId" : "12",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "system" : true
},
      "description" : "Base DTO for variable."
    }
    ,
    "json_DateValidationDto" : {
      "type" : "object",
      "title" : "DateValidationDto",
          "properties" : {
            "validDatesOnly" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "offsetDays" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "reference" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "validDatesOnly" : true,
  "offsetDays" : 12345,
  "reference" : 12345
},
      "description" : ""
    }
    ,
    "json_DateWithTimeInputLineDto" : {
      "type" : "object",
      "title" : "DateWithTimeInputLineDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "typeSpanning" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "dateValidation" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DateValidationDto"
            },
            "inheritFromParent" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          }
        }
      ],
      "example" : {
  "typeSpanning" : true,
  "dateValidation" : {
    "validDatesOnly" : true,
    "offsetDays" : 12345,
    "reference" : 12345
  },
  "inheritFromParent" : true,
  "metaTypeId" : "27",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "system" : true
},
      "description" : "Base DTO for variable."
    }
    ,
    "json_DelegationStartDto" : {
      "type" : "object",
      "title" : "DelegationStartDto",
          "properties" : {
            "login" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "stopDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "login" : "...",
  "startDate" : 12345,
  "stopDate" : 12345
},
      "description" : ""
    }
    ,
    "json_DescriptionTextDto" : {
      "type" : "object",
      "title" : "DescriptionTextDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "text" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "text" : "...",
  "metaTypeId" : "22",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "DTO for description text variable type."
    }
    ,
    "json_MaplDimensionViewBase" : {
      "type" : "object",
      "title" : "Dimension",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "type" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplDimensionTypes"
            },
            "readOnly" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "required" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "copyable" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "inheritable" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "archived" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "id" : 12345,
  "name" : "...",
  "info" : "...",
  "type" : "TEXT_DIMENSION_TYPE",
  "readOnly" : true,
  "required" : true,
  "copyable" : true,
  "inheritable" : true,
  "archived" : true
},
      "description" : ""
    }
    ,
    "json_MaplDimensionValueViewBase" : {
      "type" : "object",
      "title" : "DimensionValue",
          "properties" : {
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "weight" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "value" : "...",
  "weight" : 12345.0,
  "id" : 12345
},
      "description" : ""
    }
    ,
    "json_DocumentSelectorDto" : {
      "type" : "object",
      "title" : "DocumentSelectorDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "typeSpanning" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "inheritFromParent" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          }
        }
      ],
      "example" : {
  "typeSpanning" : true,
  "inheritFromParent" : true,
  "metaTypeId" : "57",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "system" : true
},
      "description" : "DTO for document selector variable type."
    }
    ,
    "json_DseColumnDto" : {
      "type" : "object",
      "title" : "DseColumnDto",
          "properties" : {
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "displayValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "value" : "...",
  "displayValue" : "..."
},
      "description" : ""
    }
    ,
    "json_DseCustomObjectDtoV1" : {
      "type" : "object",
      "title" : "DseCustomObjectDtoV1",
          "properties" : {
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "label" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "value" : "...",
  "label" : "..."
},
      "description" : "DTO for Custom Structure"
    }
    ,
    "json_DseFlatCustomStructureDtoV1" : {
      "type" : "object",
      "title" : "DseFlatCustomStructureDtoV1",
          "properties" : {
            "label" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "customObjects" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DseCustomObjectDtoV1"
}
            }
          },
      "example" : {
  "label" : "...",
  "name" : "...",
  "customObjects" : [ {
    "value" : "...",
    "label" : "..."
  }, {
    "value" : "...",
    "label" : "..."
  } ]
},
      "description" : "DTO for Custom Structure"
    }
    ,
    "json_DseMaplCreateNodeRequestBody" : {
      "type" : "object",
      "title" : "DseMaplCreateNodeRequestBody",
          "properties" : {
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "respPerson" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplResponsiblePersonDto"
            },
            "currencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "externalId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "name" : "...",
  "startDate" : 12345,
  "endDate" : 12345,
  "type" : "...",
  "info" : "...",
  "respPerson" : {
    "login" : "...",
    "userId" : 12345,
    "firstName" : "...",
    "lastName" : "..."
  },
  "currencyId" : 12345,
  "externalId" : "..."
},
      "description" : ""
    }
    ,
    "json_DseMaplManageTaskCreateDTO" : {
      "type" : "object",
      "title" : "DseMaplManageTaskCreateDTO",
          "properties" : {
            "workflowId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "markerType" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "responsibleUser" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplResponsiblePersonDto"
            },
            "jobTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "state" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "workflowId" : 12345,
  "nodeId" : 12345,
  "markerType" : 12345,
  "responsibleUser" : {
    "login" : "...",
    "userId" : 12345,
    "firstName" : "...",
    "lastName" : "..."
  },
  "jobTypeId" : 12345,
  "info" : "...",
  "id" : 12345,
  "name" : "...",
  "date" : 12345,
  "state" : 12345
},
      "description" : ""
    }
    ,
    "json_DseMaplPageDto" : {
      "type" : "object",
      "title" : "DseMaplPageDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AbstractDseMaplSliceDto"
        },
        {
          "properties" : {
            "offset" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "limit" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "totalElements" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            }
          }
        }
      ],
      "example" : {
  "offset" : 12345,
  "limit" : 12345,
  "totalElements" : 12345,
  "content" : [ { }, { } ]
},
      "description" : ""
    }
    ,
    "json_DseMaplPeriodDto" : {
      "type" : "object",
      "title" : "DseMaplPeriodDto",
          "properties" : {
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "planningType" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "startDate" : 12345,
  "id" : 12345,
  "type" : "...",
  "planningType" : "...",
  "name" : "...",
  "endDate" : 12345
},
      "description" : ""
    }
    ,
    "json_DseMaplTaskDto" : {
      "type" : "object",
      "title" : "DseMaplTaskDto",
          "properties" : {
            "workflowId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "markerType" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "responsibleUser" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplResponsiblePersonDto"
            },
            "jobTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "state" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "workflowId" : 12345,
  "nodeId" : 12345,
  "markerType" : 12345,
  "responsibleUser" : {
    "login" : "...",
    "userId" : 12345,
    "firstName" : "...",
    "lastName" : "..."
  },
  "jobTypeId" : 12345,
  "info" : "...",
  "id" : 12345,
  "name" : "...",
  "date" : 12345,
  "state" : "..."
},
      "description" : ""
    }
    ,
    "json_DseObjectCreateResultDto" : {
      "type" : "object",
      "title" : "DseObjectCreateResultDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_DseObjectUpdateResultDto"
        },
        {
          "properties" : {
            "stepNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          }
        }
      ],
      "example" : {
  "stepNumber" : 12345,
  "instanceId" : 12345,
  "l10nLocaleId" : 12345
},
      "description" : ""
    }
    ,
    "json_DseObjectDto" : {
      "type" : "object",
      "title" : "DseObjectDto",
          "properties" : {
            "values" : {
            "readOnly" : false,
"description" : "",
"type" : "object",
"additionalProperties" : {
  "$ref" : "#/definitions/json_DseObjectValueDto"
}
            },
            "instanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "l10nLocaleId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "workflowObjectId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "extendedName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "state" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "ordinalNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "typeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "createdBy" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "parentId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "creator" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserDto"
            },
            "workflowTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "currentStepTemplateId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "values" : {
    "property1" : {
      "inheritFromParent" : "BROKEN_INHERITANCE",
      "inheritedValue" : "...",
      "displayValue" : "...",
      "value" : "..."
    },
    "property2" : {
      "inheritFromParent" : "BROKEN_INHERITANCE",
      "inheritedValue" : "...",
      "displayValue" : "...",
      "value" : "..."
    }
  },
  "instanceId" : 12345,
  "l10nLocaleId" : 12345,
  "workflowObjectId" : 12345,
  "name" : "...",
  "extendedName" : "...",
  "state" : "...",
  "ordinalNumber" : 12345,
  "typeId" : 12345,
  "createdBy" : "...",
  "parentId" : 12345,
  "creator" : {
    "id" : 12345,
    "firstName" : "...",
    "fullName" : "...",
    "lastName" : "...",
    "email" : "...",
    "login" : "..."
  },
  "workflowTypeId" : 12345,
  "currentStepTemplateId" : 12345
},
      "description" : "DTO for DSE object."
    }
    ,
    "json_DseObjectIdentityDto" : {
      "type" : "object",
      "title" : "DseObjectIdentityDto",
          "properties" : {
            "instanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "l10nLocaleId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "instanceId" : 12345,
  "l10nLocaleId" : 12345
},
      "description" : ""
    }
    ,
    "json_DseObjectLightDto" : {
      "type" : "object",
      "title" : "DseObjectLightDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "displayName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "deepLink" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "name" : "...",
  "displayName" : "...",
  "deepLink" : "..."
},
      "description" : "DTO for media details."
    }
    ,
    "json_DseObjectTypeDto" : {
      "type" : "object",
      "title" : "DseObjectTypeDto",
          "properties" : {
            "respectRestrictionsByOrgUnits" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "forSubJobsOnly" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "inheritance" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "uniqueName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "technicalName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "displayName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "variables" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BaseVariableTypeDto"
}
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "parentTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "respectRestrictionsByOrgUnits" : true,
  "forSubJobsOnly" : true,
  "inheritance" : "...",
  "uniqueName" : "...",
  "technicalName" : "...",
  "displayName" : "...",
  "variables" : [ {
    "metaTypeId" : "16",
    "id" : 12345,
    "metaTypeName" : "...",
    "uniqueName" : "...",
    "displayName" : "...",
    "rawLabel" : "...",
    "mode" : 12345,
    "technicalName" : "...",
    "sharedLocale" : true,
    "helpText" : "...",
    "visibility" : {
      "variableId" : 12345,
      "values" : [ "...", "..." ]
    },
    "dependsFromVariableId" : 12345,
    "dependsFromVariableValues" : [ "...", "..." ],
    "typeSpanning" : true,
    "system" : true
  }, {
    "metaTypeId" : "16",
    "id" : 12345,
    "metaTypeName" : "...",
    "uniqueName" : "...",
    "displayName" : "...",
    "rawLabel" : "...",
    "mode" : 12345,
    "technicalName" : "...",
    "sharedLocale" : true,
    "helpText" : "...",
    "visibility" : {
      "variableId" : 12345,
      "values" : [ "...", "..." ]
    },
    "dependsFromVariableId" : 12345,
    "dependsFromVariableValues" : [ "...", "..." ],
    "typeSpanning" : true,
    "system" : true
  } ],
  "id" : 12345,
  "parentTypeId" : 12345
},
      "description" : "Properties for dse object type entity"
    }
    ,
    "json_DseObjectTypeDtoWithPaging" : {
      "type" : "object",
      "title" : "DseObjectTypeDtoWithPaging",
          "properties" : {
            "total" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "types" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DseObjectTypeDto"
}
            }
          },
      "example" : {
  "total" : 12345,
  "types" : [ {
    "respectRestrictionsByOrgUnits" : true,
    "forSubJobsOnly" : true,
    "inheritance" : "...",
    "uniqueName" : "...",
    "technicalName" : "...",
    "displayName" : "...",
    "variables" : [ {
      "metaTypeId" : "16",
      "id" : 12345,
      "metaTypeName" : "...",
      "uniqueName" : "...",
      "displayName" : "...",
      "rawLabel" : "...",
      "mode" : 12345,
      "technicalName" : "...",
      "sharedLocale" : true,
      "helpText" : "...",
      "visibility" : { },
      "dependsFromVariableId" : 12345,
      "dependsFromVariableValues" : [ "...", "..." ],
      "typeSpanning" : true,
      "system" : true
    }, {
      "metaTypeId" : "16",
      "id" : 12345,
      "metaTypeName" : "...",
      "uniqueName" : "...",
      "displayName" : "...",
      "rawLabel" : "...",
      "mode" : 12345,
      "technicalName" : "...",
      "sharedLocale" : true,
      "helpText" : "...",
      "visibility" : { },
      "dependsFromVariableId" : 12345,
      "dependsFromVariableValues" : [ "...", "..." ],
      "typeSpanning" : true,
      "system" : true
    } ],
    "id" : 12345,
    "parentTypeId" : 12345
  }, {
    "respectRestrictionsByOrgUnits" : true,
    "forSubJobsOnly" : true,
    "inheritance" : "...",
    "uniqueName" : "...",
    "technicalName" : "...",
    "displayName" : "...",
    "variables" : [ {
      "metaTypeId" : "16",
      "id" : 12345,
      "metaTypeName" : "...",
      "uniqueName" : "...",
      "displayName" : "...",
      "rawLabel" : "...",
      "mode" : 12345,
      "technicalName" : "...",
      "sharedLocale" : true,
      "helpText" : "...",
      "visibility" : { },
      "dependsFromVariableId" : 12345,
      "dependsFromVariableValues" : [ "...", "..." ],
      "typeSpanning" : true,
      "system" : true
    }, {
      "metaTypeId" : "16",
      "id" : 12345,
      "metaTypeName" : "...",
      "uniqueName" : "...",
      "displayName" : "...",
      "rawLabel" : "...",
      "mode" : 12345,
      "technicalName" : "...",
      "sharedLocale" : true,
      "helpText" : "...",
      "visibility" : { },
      "dependsFromVariableId" : 12345,
      "dependsFromVariableValues" : [ "...", "..." ],
      "typeSpanning" : true,
      "system" : true
    } ],
    "id" : 12345,
    "parentTypeId" : 12345
  } ]
},
      "description" : ""
    }
    ,
    "json_DseObjectUpdateDto" : {
      "type" : "object",
      "title" : "DseObjectUpdateDto",
          "properties" : {
            "instanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "l10nLocaleId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "stepNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "values" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DseObjectUpdateValueDto"
}
            }
          },
      "example" : {
  "instanceId" : 12345,
  "l10nLocaleId" : 12345,
  "stepNumber" : 12345,
  "values" : [ {
    "inheritFromParent" : "INHERITED_FROM_PARENT",
    "value" : "...",
    "technicalName" : "...",
    "label" : { }
  }, {
    "inheritFromParent" : "INHERITED_FROM_PARENT",
    "value" : "...",
    "technicalName" : "...",
    "label" : { }
  } ]
},
      "description" : ""
    }
    ,
    "json_DseObjectUpdateResultDto" : {
      "type" : "object",
      "title" : "DseObjectUpdateResultDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_DseObjectIdentityDto"
        },
        {
        }
      ],
      "example" : {
  "instanceId" : 12345,
  "l10nLocaleId" : 12345
},
      "description" : ""
    }
    ,
    "json_DseObjectUpdateValueDto" : {
      "type" : "object",
      "title" : "DseObjectUpdateValueDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_LabelValueDto"
        },
        {
          "properties" : {
            "inheritFromParent" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_InheritFromParentEnum"
            },
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "technicalName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "inheritFromParent" : "BROKEN_INHERITANCE",
  "value" : "...",
  "technicalName" : "...",
  "label" : { }
},
      "description" : "DTO for label-value pair."
    }
    ,
    "json_DseObjectValueDto" : {
      "type" : "object",
      "title" : "DseObjectValueDto",
          "properties" : {
            "inheritFromParent" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_InheritFromParentEnum"
            },
            "inheritedValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "displayValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "inheritFromParent" : "BROKEN_INHERITANCE",
  "inheritedValue" : "...",
  "displayValue" : "...",
  "value" : "..."
},
      "description" : "DTO for label-value pair."
    }
    ,
    "json_DseUserGroupDto" : {
      "type" : "object",
      "title" : "DseUserGroupDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "defaultAssignee" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_UserDto"
            },
            "predefined" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "id" : 12345,
  "name" : "...",
  "defaultAssignee" : {
    "id" : 12345,
    "firstName" : "...",
    "fullName" : "...",
    "lastName" : "...",
    "email" : "...",
    "login" : "..."
  },
  "predefined" : true
},
      "description" : ""
    }
    ,
    "json_DseWorkflowActionConfigurationDto" : {
      "type" : "object",
      "title" : "DseWorkflowActionConfigurationDto",
          "properties" : {
            "operation" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_WorkflowStepActionOperationEnum"
            },
            "trigger" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_WorkflowStepActionTriggerEnum"
            }
          },
      "example" : {
  "operation" : "DELETE",
  "trigger" : "AUTOMATIC"
},
      "description" : ""
    }
    ,
    "json_MaplEditNodeRequestBody" : {
      "type" : "object",
      "title" : "EditNode",
          "properties" : {
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "externalId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "nodeName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "responsiblePerson" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplResponsiblePersonDto"
            },
            "generalNote" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "currencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "nodeTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "startDate" : 12345,
  "endDate" : 12345,
  "externalId" : "...",
  "nodeName" : "...",
  "responsiblePerson" : {
    "login" : "...",
    "userId" : 12345,
    "firstName" : "...",
    "lastName" : "..."
  },
  "generalNote" : "...",
  "currencyId" : 12345,
  "nodeTypeId" : 12345
},
      "description" : ""
    }
    ,
    "json_FreeFieldDto" : {
      "type" : "object",
      "title" : "FreeFieldDto",
          "properties" : {
            "code" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "displayName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "typeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "code" : 12345,
  "name" : "...",
  "displayName" : "...",
  "typeId" : 12345,
  "value" : "..."
},
      "description" : "DTO for free field."
    }
    ,
    "json_GridColumnDto" : {
      "type" : "object",
      "title" : "GridColumnDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "variableTypeName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dataSourceName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "position" : 12345,
  "variableTypeName" : "...",
  "dataSourceName" : "...",
  "metaTypeId" : "GridColumnDto",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "DTO for grid row."
    }
    ,
    "json_GridDto" : {
      "type" : "object",
      "title" : "GridDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "bookableOnly" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "inheritFromParent" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "maxRowNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "rowTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "height" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "completeWidth" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "columns" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BaseVariableTypeDto"
}
            },
            "pageSize" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "prefilledFromParent" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          }
        }
      ],
      "example" : {
  "bookableOnly" : true,
  "inheritFromParent" : true,
  "maxRowNumber" : 12345,
  "rowTypeId" : 12345,
  "height" : 12345,
  "completeWidth" : true,
  "columns" : [ {
    "metaTypeId" : "16",
    "id" : 12345,
    "metaTypeName" : "...",
    "uniqueName" : "...",
    "displayName" : "...",
    "rawLabel" : "...",
    "mode" : 12345,
    "technicalName" : "...",
    "sharedLocale" : true,
    "helpText" : "...",
    "visibility" : {
      "variableId" : 12345,
      "values" : [ "...", "..." ]
    },
    "dependsFromVariableId" : 12345,
    "dependsFromVariableValues" : [ "...", "..." ],
    "typeSpanning" : true,
    "system" : true
  }, {
    "metaTypeId" : "16",
    "id" : 12345,
    "metaTypeName" : "...",
    "uniqueName" : "...",
    "displayName" : "...",
    "rawLabel" : "...",
    "mode" : 12345,
    "technicalName" : "...",
    "sharedLocale" : true,
    "helpText" : "...",
    "visibility" : {
      "variableId" : 12345,
      "values" : [ "...", "..." ]
    },
    "dependsFromVariableId" : 12345,
    "dependsFromVariableValues" : [ "...", "..." ],
    "typeSpanning" : true,
    "system" : true
  } ],
  "pageSize" : 12345,
  "prefilledFromParent" : true,
  "metaTypeId" : "41",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "DTO for grid variable type."
    }
    ,
    "json_GridRowDto" : {
      "type" : "object",
      "title" : "GridRowDto",
          "properties" : {
            "rowEditable" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "rowInstanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "values" : {
            "readOnly" : false,
"description" : "",
"type" : "object",
"additionalProperties" : {
  "type" : "string"
}
            }
          },
      "example" : {
  "rowEditable" : true,
  "rowInstanceId" : 12345,
  "values" : {
    "property1" : "...",
    "property2" : "..."
  }
},
      "description" : ""
    }
    ,
    "json_HeadlineTextDto" : {
      "type" : "object",
      "title" : "HeadlineTextDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "text" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "text" : "...",
  "metaTypeId" : "10",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "DTO for headline text variable type."
    }
    ,
    "json_InheritFromParentEnum" : {
      "type" : "string",
      "title" : "InheritFromParentEnum",
          "enum" : [
            "NOT_SUPPORTED",
            "INHERITED_FROM_PARENT",
            "BROKEN_INHERITANCE"
          ],
      "description" : ""
    }
    ,
    "json_JobIdsDto" : {
      "type" : "object",
      "title" : "JobIdsDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseIdsDto"
        },
        {
        }
      ],
      "example" : {
  "instanceId" : 12345,
  "ordinalNumber" : 12345,
  "typeId" : 12345
},
      "description" : ""
    }
    ,
    "json_JobTopicDto" : {
      "type" : "object",
      "title" : "JobTopicDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "moduleDisplayName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "moduleDisplayName" : "..."
},
      "description" : "DTO for job topic."
    }
    ,
    "json_JobTypeDto" : {
      "type" : "object",
      "title" : "JobTypeDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "displayName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "displayName" : "..."
},
      "description" : "DTO for job type."
    }
    ,
    "json_LabelValueDto" : {
      "type" : "object",
      "title" : "LabelValueDto",
          "properties" : {
            "label" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Serializable"
            },
            "value" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Serializable"
            }
          },
      "example" : {
  "label" : { },
  "value" : { }
},
      "description" : "DTO for label-value pair."
    }
    ,
    "json_LinkDto" : {
      "type" : "object",
      "title" : "LinkDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "linkType" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "url" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "linkType" : 12345,
  "url" : "...",
  "metaTypeId" : "21",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "Base DTO for variable."
    }
    ,
    "json_MaplBMonthDTO" : {
      "type" : "object",
      "title" : "MaplBMonthDTO",
          "properties" : {
            "planned" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "commited" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "actual" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "projected" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "remainig" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "mdf" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            },
            "calculated" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            }
          },
      "example" : {
  "planned" : [ 12345.0, 12345.0 ],
  "commited" : [ 12345.0, 12345.0 ],
  "actual" : [ 12345.0, 12345.0 ],
  "projected" : [ 12345.0, 12345.0 ],
  "remainig" : [ 12345.0, 12345.0 ],
  "mdf" : [ 12345.0, 12345.0 ],
  "calculated" : [ 12345.0, 12345.0 ]
},
      "description" : ""
    }
    ,
    "json_MaplBYearDto" : {
      "type" : "object",
      "title" : "MaplBYearDto",
          "properties" : {
            "planned" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "commited" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "actual" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "projected" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "remainig" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "mdf" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "calculated" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "planned" : 12345.0,
  "commited" : 12345.0,
  "actual" : 12345.0,
  "projected" : 12345.0,
  "remainig" : 12345.0,
  "mdf" : 12345.0,
  "calculated" : 12345.0
},
      "description" : ""
    }
    ,
    "json_MaplBudgetColumnsDTO" : {
      "type" : "object",
      "title" : "MaplBudgetColumnsDTO",
          "properties" : {
            "year" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplBYearDto"
            },
            "month" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplBMonthDTO"
            }
          },
      "example" : {
  "year" : {
    "planned" : 12345.0,
    "commited" : 12345.0,
    "actual" : 12345.0,
    "projected" : 12345.0,
    "remainig" : 12345.0,
    "mdf" : 12345.0,
    "calculated" : 12345.0
  },
  "month" : {
    "planned" : [ 12345.0, 12345.0 ],
    "commited" : [ 12345.0, 12345.0 ],
    "actual" : [ 12345.0, 12345.0 ],
    "projected" : [ 12345.0, 12345.0 ],
    "remainig" : [ 12345.0, 12345.0 ],
    "mdf" : [ 12345.0, 12345.0 ],
    "calculated" : [ 12345.0, 12345.0 ]
  }
},
      "description" : ""
    }
    ,
    "json_MaplCreateNodeRequestBody" : {
      "type" : "object",
      "title" : "MaplCreateNodeRequestBody",
          "properties" : {
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "respPerson" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplResponsiblePersonDto"
            },
            "currencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "externalId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "name" : "...",
  "startDate" : 12345,
  "endDate" : 12345,
  "type" : "...",
  "info" : "...",
  "respPerson" : {
    "login" : "...",
    "userId" : 12345,
    "firstName" : "...",
    "lastName" : "..."
  },
  "currencyId" : 12345,
  "externalId" : "..."
},
      "description" : ""
    }
    ,
    "json_MaplDimensionBaseType" : {
      "type" : "string",
      "title" : "MaplDimensionBaseType",
          "enum" : [
            "LIST",
            "STRUCTURED",
            "FREETEXT"
          ],
      "description" : ""
    }
    ,
    "json_MaplDimensionNodeValueDto" : {
      "type" : "object",
      "title" : "MaplDimensionNodeValueDto",
          "properties" : {
            "dimensionId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "values" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_MaplDimensionValueViewBase"
}
            },
            "dimensionType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplDimensionTypes"
            }
          },
      "example" : {
  "dimensionId" : 12345,
  "values" : [ {
    "value" : "...",
    "weight" : 12345.0,
    "id" : 12345
  }, {
    "value" : "...",
    "weight" : 12345.0,
    "id" : 12345
  } ],
  "dimensionType" : "STRUCTURED_TEXT_DIMENSION_TYPE"
},
      "description" : ""
    }
    ,
    "json_MaplDimensionPossibleValueDto" : {
      "type" : "object",
      "title" : "MaplDimensionPossibleValueDto",
          "properties" : {
            "parentValueId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "valueId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "parentValueId" : 12345,
  "valueId" : 12345,
  "value" : "..."
},
      "description" : ""
    }
    ,
    "json_MaplDimensionTypes" : {
      "type" : "string",
      "title" : "MaplDimensionTypes",
          "enum" : [
            "TEXT_DIMENSION_TYPE",
            "M_SELECTABLE_DIMENSION_TYPE",
            "SELECTABLE_DIMENSION_TYPE",
            "MW_SELECTABLE_DIMENSION_TYPE",
            "STRUCTURED_TEXT_DIMENSION_TYPE",
            "CONTINUES_TEXT_DIMENSION_TYPE"
          ],
      "description" : ""
    }
    ,
    "json_MaplManageTaskCreateDTO" : {
      "type" : "object",
      "title" : "MaplManageTaskCreateDTO",
          "properties" : {
            "workflowId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "markerType" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "responsibleUser" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplResponsiblePersonDto"
            },
            "jobTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "state" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "workflowId" : 12345,
  "nodeId" : 12345,
  "markerType" : 12345,
  "responsibleUser" : {
    "login" : "...",
    "userId" : 12345,
    "firstName" : "...",
    "lastName" : "..."
  },
  "jobTypeId" : 12345,
  "info" : "...",
  "id" : 12345,
  "name" : "...",
  "date" : 12345,
  "state" : 12345
},
      "description" : ""
    }
    ,
    "json_MaplNodeDeeplinkDTO" : {
      "type" : "object",
      "title" : "MaplNodeDeeplinkDTO",
          "properties" : {
            "calendarLink" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "budgetLink" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "node" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplNodeDto"
            }
          },
      "example" : {
  "calendarLink" : "...",
  "budgetLink" : "...",
  "node" : {
    "id" : 12345,
    "parentId" : 12345,
    "name" : "...",
    "startDate" : 12345,
    "endDate" : 12345,
    "type" : "...",
    "info" : "...",
    "currencyId" : 12345,
    "externalId" : "...",
    "respPerson" : {
      "login" : "...",
      "userId" : 12345,
      "firstName" : "...",
      "lastName" : "..."
    },
    "leaf" : true
  }
},
      "description" : ""
    }
    ,
    "json_MaplNodeDto" : {
      "type" : "object",
      "title" : "MaplNodeDto",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "parentId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "currencyId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "externalId" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "respPerson" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplResponsiblePersonDto"
            },
            "leaf" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "id" : 12345,
  "parentId" : 12345,
  "name" : "...",
  "startDate" : 12345,
  "endDate" : 12345,
  "type" : "...",
  "info" : "...",
  "currencyId" : 12345,
  "externalId" : "...",
  "respPerson" : {
    "login" : "...",
    "userId" : 12345,
    "firstName" : "...",
    "lastName" : "..."
  },
  "leaf" : true
},
      "description" : ""
    }
    ,
    "json_MaplPageDto" : {
      "type" : "object",
      "title" : "MaplPageDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AbstractDseMaplSliceDto"
        },
        {
          "properties" : {
            "offset" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "limit" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "totalElements" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            }
          }
        }
      ],
      "example" : {
  "offset" : 12345,
  "limit" : 12345,
  "totalElements" : 12345,
  "content" : [ { }, { } ]
},
      "description" : ""
    }
    ,
    "json_MaplPageDtoOfMaplNodeDto" : {
      "type" : "object",
      "title" : "MaplPageDtoOfMaplNodeDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AbstractDseMaplSliceDto"
        },
        {
          "properties" : {
            "totalElements" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "limit" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "offset" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            }
          }
        }
      ],
      "example" : {
  "totalElements" : 12345,
  "limit" : 12345,
  "offset" : 12345,
  "content" : [ { }, { } ]
},
      "description" : ""
    }
    ,
    "json_MaplResponsiblePersonDto" : {
      "type" : "object",
      "title" : "MaplResponsiblePersonDto",
          "properties" : {
            "login" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "userId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "firstName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "lastName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "login" : "...",
  "userId" : 12345,
  "firstName" : "...",
  "lastName" : "..."
},
      "description" : ""
    }
    ,
    "json_MaplTaskDto" : {
      "type" : "object",
      "title" : "MaplTaskDto",
          "properties" : {
            "workflowId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "nodeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "markerType" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "responsibleUser" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_MaplResponsiblePersonDto"
            },
            "jobTypeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "info" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "date" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "state" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "workflowId" : 12345,
  "nodeId" : 12345,
  "markerType" : 12345,
  "responsibleUser" : {
    "login" : "...",
    "userId" : 12345,
    "firstName" : "...",
    "lastName" : "..."
  },
  "jobTypeId" : 12345,
  "info" : "...",
  "id" : 12345,
  "name" : "...",
  "date" : 12345,
  "state" : "..."
},
      "description" : ""
    }
    ,
    "json_MaplYearDto" : {
      "type" : "object",
      "title" : "MaplYearDto",
          "properties" : {
            "startDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "planningType" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "endDate" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "startDate" : 12345,
  "id" : 12345,
  "type" : "...",
  "planningType" : "...",
  "name" : "...",
  "endDate" : 12345
},
      "description" : ""
    }
    ,
    "json_MultiLineInputAreaColumnDto" : {
      "type" : "object",
      "title" : "MultiLineInputAreaColumnDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "width" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "maxCharacters" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "maxLines" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "completeWidth" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "allowFormatting" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "columns" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "editorConfiguration" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "defaultValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "formerTechnicalValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dynamicTableIndex" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "prefilling" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_PrefillingDto"
            }
          }
        }
      ],
      "example" : {
  "width" : 12345,
  "position" : 12345,
  "maxCharacters" : 12345,
  "maxLines" : 12345,
  "completeWidth" : true,
  "allowFormatting" : true,
  "columns" : 12345,
  "editorConfiguration" : 12345,
  "defaultValue" : "...",
  "formerTechnicalValue" : "...",
  "dynamicTableIndex" : "...",
  "prefilling" : {
    "customStructureId" : 12345,
    "attributeId" : "...",
    "keyId" : 12345,
    "overrideId" : 12345,
    "permanentBinding" : true
  },
  "metaTypeId" : "48",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "DTO for MultiLineInputAreaColumn variable type."
    }
    ,
    "json_MultiLineInputAreaDto" : {
      "type" : "object",
      "title" : "MultiLineInputAreaDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "inheritFromParent" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "maxCharacter" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "maxLines" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "completeWidth" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "allowFormatting" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "visibleColumns" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "editorConfigurationId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "typeSpanning" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "defaultValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "sharedLocale" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "formerTechnicalName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "prefilling" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_PrefillingDto"
            }
          }
        }
      ],
      "example" : {
  "inheritFromParent" : true,
  "maxCharacter" : 12345,
  "maxLines" : 12345,
  "completeWidth" : true,
  "allowFormatting" : true,
  "visibleColumns" : 12345,
  "editorConfigurationId" : 12345,
  "typeSpanning" : true,
  "defaultValue" : "...",
  "sharedLocale" : true,
  "formerTechnicalName" : "...",
  "prefilling" : {
    "customStructureId" : 12345,
    "attributeId" : "...",
    "keyId" : 12345,
    "overrideId" : 12345,
    "permanentBinding" : true
  },
  "metaTypeId" : "11",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "system" : true
},
      "description" : "Base DTO for variable."
    }
    ,
    "json_MultiSelectColumnDto" : {
      "type" : "object",
      "title" : "MultiSelectColumnDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseSelectableVariableTypeDto"
        },
        {
          "properties" : {
            "style" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "defaultValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "width" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "serialversionuid" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            }
          }
        }
      ],
      "example" : {
  "style" : "...",
  "defaultValue" : "...",
  "width" : 12345,
  "position" : 12345,
  "serialversionuid" : 12345,
  "sourceCustomStructureName" : "...",
  "metaTypeId" : "50",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "typeSpanning" : true,
  "system" : true
},
      "description" : "Base DTO for selectable variable types."
    }
    ,
    "json_MultiSelectDto" : {
      "type" : "object",
      "title" : "MultiSelectDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseSelectableVariableTypeDto"
        },
        {
          "properties" : {
            "typeSpanning" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "style" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "inheritFromParent" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "defaultValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "serialversionuid" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "interdependentCheckBox" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "interdependentVariableTechName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "typeSpanning" : true,
  "style" : "...",
  "inheritFromParent" : true,
  "defaultValue" : "...",
  "serialversionuid" : 12345,
  "interdependentCheckBox" : true,
  "interdependentVariableTechName" : "...",
  "sourceCustomStructureName" : "...",
  "metaTypeId" : "13",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "system" : true
},
      "description" : "Base DTO for selectable variable types."
    }
    ,
    "json_MultiValueInputLineDto" : {
      "type" : "object",
      "title" : "MultiValueInputLineDto",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_BaseVariableTypeDto"
        },
        {
          "properties" : {
            "typeSpanning" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "percentage1" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "percentage2" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "maxCharacter1" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "maxCharacter2" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "regexp1" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "regexp2" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "inputSize1" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "inputSize2" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "suffix1" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "suffix2" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "defaultValue1" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "defaultValue2" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "column1UniqueName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "column2UniqueName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "typeSpanning" : true,
  "percentage1" : 12345,
  "percentage2" : 12345,
  "maxCharacter1" : 12345,
  "maxCharacter2" : 12345,
  "regexp1" : "...",
  "regexp2" : "...",
  "inputSize1" : 12345,
  "inputSize2" : 12345,
  "suffix1" : "...",
  "suffix2" : "...",
  "defaultValue1" : "...",
  "defaultValue2" : "...",
  "column1UniqueName" : "...",
  "column2UniqueName" : "...",
  "metaTypeId" : "14",
  "id" : 12345,
  "metaTypeName" : "...",
  "uniqueName" : "...",
  "displayName" : "...",
  "rawLabel" : "...",
  "mode" : 12345,
  "technicalName" : "...",
  "sharedLocale" : true,
  "helpText" : "...",
  "visibility" : {
    "variableId" : 12345,
    "values" : [ "...", "..." ]
  },
  "dependsFromVariableId" : 12345,
  "dependsFromVariableValues" : [ "...", "..." ],
  "system" : true
},
      "description" : "Base DTO for variable."
    }
    ,
    "json_PageDto" : {
      "type" : "object",
      "title" : "PageDto",
          "properties" : {
            "data" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "object"
}
[...]
